#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 리터럴은 값 그 자체로 고정된 값을 표현하는 것을 의미. 파이썬엔 None 이라는 특별한 리터럴이 있음 이필드를 사용하여 생성되지않은 필드를 지정함
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 파이썬은 snake_case와 CamelCase를 모두 사용

- itemlist : item_list(스네이크 케이스) itemList(카멜 케이스)
- loginstatus : login_status(스네이크 케이스) loginStatus(카멜 케이스)
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [ ]:
# 자료형 출력

In [ ]:
[1,2,3] #요소를 쉼표로 구분
(1,2,3)
[a:1,b:2] #집합은 중복을 허용하지않음. 집합은 수학에서 중복 X

In [ ]:
#문자열

In [ ]:
i1 = 3    #정수형
f1 = 3.5   #실수형
print(i1)
print(f1)

3
3.5

In [ ]:
# 정수(int)
print(int(True)) # True 는 1. 1이상도 True인데 보통 1로 씀 왜냐면 while 문 할때 while True 대신 while 1 이라고 씀
print(int(False)) # False 는 0
print(int('100')) # 따옴표안에는 문자
print(int(3.14)) # 3.14는 실수인데 정수로 변환되어서 3으로됨

1
0
100
3

In [ ]:
# 실수(float)
print(float(True)) # True 는 1.0 실수에서
print(float(False)) # False 는 0.0 실수에서
print(float(100)) # 100은 정수인데 float으로 변환. 실수인 100.0
print(float('3.14')) # 문자 3.14를 출력하는데 저건 실수로 변환됨
print(type(float('3.14')))

1.0
0.0
100.0
3.14
<class 'float'>

In [ ]:
# 사칙연산 : +, *, /나누기라서 하고나면 무조건실수, //정수로 나옴.몫임, **(2**3 2의3승), %(나머지)

In [ ]:
#사칙연산 예
a = 11
b = 2
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

13
22
5.5
5
121
1

In [ ]:
#사칙연산 예, 그렇지만 사칙연산 표현해주기
a = 11
b = 2
sum = a + b
print(f"덧셈 : {sum}") # f=format, {}안에 하고싶은거 넣으면 됨
print(f"곱셈 : {a*b}")
print(f"나눗셈 : {a/b}")
print(f"나눈몫 : {a//b}")
print(f"제곱 : {a**b}")
print(f"나머지 : {a%b}")

덧셈 : 13
곱셈 : 22
나눗셈 : 5.5
나눈몫 : 5
제곱 : 121
나머지 : 1

In [ ]:
# 문자열
string = '문자열'
a = '100' #이렇게 되면 서로 연산가능. 마치 숫자처럼 근데 숫자는 아님,.,
# 숫자와 문자는 연산 불가능! 숫자를 문자타입으로 바꿔 문자간의 연산 할 수 있음

In [ ]:
a = 100
b = 50
print(a+b)
a = '100'
b = '50'
print(a + b)

150
10050

In [ ]:
# 사용자 입력
input('인삿말을 입력하세요. : ')

인삿말을 입력하세요. : 안녕하세요~

'안녕하세요~'

In [ ]:
# 두개의 정수를 입력해서 더한 결과를 출력하세요.
# input() 함수는 string으로 입력받은 데이터를 string으로 처리한다.
a = input()
b = input()
print(a+b)

1
2
12

In [ ]:
# 두개의 정수를 입력해서 더한 결과를 출력하세요.
num1 = int(input("첫 번째 숫자 : "))
num2 = int(input("두 번째 숫자 : "))

print(num1 + num2)

첫 번째 숫자 : 1
두 번째 숫자 : 2
3

In [ ]:
# 실수 + 실수 = 실수
a = float(input('3입력'))
b = float(input('3.3입력'))
print(a+b)

3입력3
3.3입력3.3
6.3

In [ ]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.
num1 = int(input("정수를 입력하세요 : "))
num2 = float(input("소수점 이하를 포함한 실수를 입력하세요 : "))
print(num1 + num2) # 정수 + 실수 = 실수

정수를 입력하세요 : 3
소수점 이하를 포함한 실수를 입력하세요 : 3.3
6.3

In [ ]:
# Q. a = 52와 b =52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열
# 자료형으로 변환하세요.
a = 52
b = 52.273
a = str(a)
b = str(b)
print(a+b) # 둘다 문자열로 바꿔주고 연산을하면 붙여서 나옴!!

a = 52
b = 52.273
print(str(a)+str(b)) # 프린트할때 str으로 형변환할수 있음

5252.273
5252.273

In [ ]:
# 문자열 : "", '', """ """, ''' '''
# p1 = 'python's value is great' #오류뜸 낙동강 오리알 됨
p1 = "python's value is great"
print(p1)

python's value is great

In [ ]:
p1 = 'python\'s value is great' # \ 이거는 따옴표가 아니다라는뜻 \는 escape 문자
print(p1)

python's value is great

In [ ]:
# \n 행 바꿈
y1 = "Once you study data analysis \nYou need Python" # \n은 행을 바꿔라~ 라는뜻
print(y1)

Once you study data analysis
You need Python

In [ ]:
y1 = Once you study data analysis
You need Python
print(y1) #이렇게하면 에러

SyntaxError: invalid syntax (1089373387.py, line 1)

In [ ]:
# \n 행 바꿈 없이 행을 바꿔서 출력하기
y2 = '''
Once you study data analysis
You need Python
'''
print(y2) # ''' '''는 줄바꿈 할 때 유용함

Once you study data analysis
You need Python

In [ ]:
# 해당 내용을 띄어서 python is 하는법 알아보기
a1 = 'Python'
a2 = 'is easy to learn'
print(a1 + a2)

pythonis easy to learn

In [ ]:
# 솔루션 1
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print("=" * 25) # 보기 좋게 가독성좋게 하는법

Python is easy to learn
=========================

In [ ]:
# 다른 타입간 연산

In [ ]:
과제1. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요.

In [ ]:
print("두 수중에 큰 수를 분별하는 프로그램")
num1 = int(input("정수를 입력해주세요 : "))
num2 = float(input("실수를 입력해주세요 : "))

if num1 > num2 :
    print(num1)
elif num1 < num2 :
    print(num2)
else :
    print("두 수는 같습니다.")

두 수중에 큰 수를 분별하는 프로그램
정수를 입력해주세요 : 1
실수를 입력해주세요 : 2.1
2.1

In [ ]:
과제2. 아래와 같이 출력할 수 있는 string을 만드세요.
string =
print(sting)
[출력문]
"What a wonderful world!"
he said loudly

In [ ]:
string = '''
What a wonderfui world!
he said loudly
'''
print(string)

What a wonderfui world!
he said loudly

In [ ]:
# 심주승님 솔루션
string = "\"what a wonderful world!\"\nhe said loudly."

print(string)

"what a wonderful world!"
he said loudly.

In [ ]:
# 자료형 - List
# 리스트는 [] 로 표시하며 [] 안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a', 'b', 'c']]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [ ]:
# 인덱싱
list1 = [1,2,3,4,5] # 리스트 여기에는순서가 있음 즉 주소가 있음 파이썬에선 0번부터시작
# 0번째 요소는 1 이고 5라는 숫자는 4번째 요소이다. 인덱스가 0,4
list1[2] # 2번째 요소는 리스트안의 3번째숫자인 3이다. 인덱스가 2

3

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # 9의 인덱스는 9임. 0부터 시작
b = ['a', 'b', 'c']
a[-1] # 맨끝의 인덱스를 출력
a[-2] # 맨끝의 앞의 인덱스를 출력

8

In [ ]:
# 6 7 8 9 를 출력
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
a[-4:]

[6, 7, 8, 9]

In [ ]:
# 끝에서 부터 인덱싱 : -1
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
a[-4:-1] # -4 부터 -1까지임. 근데 -4 -3 -2 출력이라서.. = 6,7,8

[6, 7, 8]

In [ ]:
# # 리스트 확장
# h = [1,2,3]
# h.extend([4,5]) # .extend 하고 () 소괄호를 사용해서 추가!
# print(h)
# h.append(6) # .append하고 () 소괄호 숫자 하나만 추가
# print(h)
# h.insert(0,5) # .insert하고 () 0번째인덱스에 5라는 숫자를 추가
# print(h)

# 리스트 h 에 마지막 인덱스 7을 추가하는데, 가능한 모든 방법을 다 해보기
h = [5, 1, 2, 3, 4, 5, 6]
# 1. extend 사용
h.extend([7])
print(h) #7성공
# 2. append 사용
h.append(7)
print(h) #7성공
# 3. insert 사용
h.insert(7,7)
print(h)

[5, 1, 2, 3, 4, 5, 6, 7]
[5, 1, 2, 3, 4, 5, 6, 7, 7]
[5, 1, 2, 3, 4, 5, 6, 7, 7, 7]

In [ ]:
import numpy as np
li = np.arange(50, 101)
li #나중에 배울것임

array([ 50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
        63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
        76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
        89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100])

In [ ]:
# 인덱싱
# list = [1,2,3,4,5]
list1[2]
list1[0:2] # [1,2]
list1[:4] # 0은 생략가능

[1, 2, 3, 4]

In [ ]:
# a를 뽑아라
list3 = [1,'a','abc',[1,2,3,4,5],['a', 'b', 'c']]
list3[1] # a는 인덱스가 1이라서 1넣으면 a 나옴

'a'

In [ ]:
list # 키워드라서 문자로 출력

list

In [ ]:
# [1,2,3,4,5]안의 3을 뽑아라
list3 = [1,'a','abc',[1,2,3,4,5],['a', 'b', 'c']]
list[2] # list 앞에 아마도 ? print 생략? 위에 list 를 각주처리하고 커널 리스타트하면 list[2] 나옴

list[2]

In [ ]:
# 마지막 인덱스의 리스트에서 b를 출력
list3 = [1,'a','abc',[1,2,3,4,5],['a', 'b', 'c']]
list3[4][1]

'b'

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
a[0] = 1 # a자리에 1을 대입
print(a)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# b 리스트안에 b에다가 a바꿔서 출력
# 솔루션 한정현
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
b[1]='a'
print(b)

['a', 'a', 'c']

In [ ]:
# 리스트 수정, 삭제
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
del a[0]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 리스트 수정, 삭제
# b 리스트에서 a 와 c 만나오게끔 b만 삭제 해서 출력
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
del b[1]
print(b)

['a', 'c']

[과제3] list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [ ]:
# 솔루션 한정현

list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

# 33을 출력
list1[11][1]

# 82를 리스트에 추가
list1.append(82)
print(list1)

# 87의 인덱스 구하기
list1.index(87)

# 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전

# 39를 11로 변경
list1.index(39)
list1[8] = 11
print(list1)

# [69,45,58] 출력
list1.index(69), list1.index(45), list1.index(58), list1.index(82)
list1[-19:-16] # 69,45,58순서대로 하려고했는데 안됨..
list1[0:3]

# [69,45,58] 출력 답안
list1[2:0:-1] # 69, 45 임 끝에 -1 하면 거꾸로 됨
list1[2::-1] # 69, 45, 58 가운데 0 안적으면 인덱스 0 도 나옴
print(list1[::-1]) # 처음부터 끝까지 출력하는데 거꾸로(-1)
print(list1[::]) # print(list1) 과 같은 결과 처음부터 끝까지 출력
print(list1[:-3:-1]) # 82, 82 거꾸로 인덱스 2개 출력

# 짝수 인덱스의 값으로 구성된 리스트 출력하기
print(list1[0:]) # 처음부터 끝까지
print(list1[0::2]) # 처음부터 끝까지 출력하는데 하나 건너서~

# 인덱스가 가장 큰수를 삭제하기
list1.index(98)
del list1[15]
print(list1)

# 인덱스 3, 5인 값으로 4칙 연산하기
list1[3], list1[5] # 인덱스 3 = 19, 인덱스 5 = 87
list1[3]+list1[5] # 덧셈 19 + 87 = 106
list1[3]-list1[5] # 뺄셈 19 - 87 = -68
list1[3]*list1[5] # 곱셈 19 * 87 = 1653
list1[3]**list1[5] # 제곱 19 ^ 87 = 1784692024660069843400588950089820848205359612815447007430736376271289420707549395931423768497105136108949665339
list1[3]/list1[5] # 나눗셈 19 / 87 = 0.21839080459770116
list1[3]//list1[5] # 나눈 후의 몫 19 // 87 = 0
list1[3]%list1[5] # 나머지 19 % 87 = 19

# 인덱스 3, 5인 값으로 4칙 연산하기
a=list1[3]; b=list1[5]
print(a)
print(b)
print(a + b)
print(a - b)
print(a * b)
print(a / b)

106
-68
1653
0.21839080459770116

#### sort 와 sorted 차이점

1. 메서드 vs 함수:

- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 파이썬 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다.
    예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:

- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다.
    따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:

- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다

In [ ]:
# sort()
my_list = [3, 1, 2]
my_list.sort()
print(my_list) # [3, 1, 2] -> [1, 2, 3]으로 바뀌고 [3, 1, 2]는 None으로 반환됨

# sorted()
my_tuple = (3, 1, 2)
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list) #바뀌는데 None 으로 반환되지 않고 그냥 그대로 있음

[1, 2, 3]
(3, 1, 2)
[1, 2, 3]

In [ ]:
list = [5,6,9,7,8]
new_list=list.sort()
print(list) # 순서대로 순서가 바뀌고 출력
print(new_list) # 원래 리스트는 None 으로 반환

[5, 6, 7, 8, 9]
None

In [ ]:
list = [5,6,9,7,8]
new_list= sorted(list)
print(list)
print(new_list) # sort와 달리 원래 리스트가 남아있음

[5, 6, 9, 7, 8]
[5, 6, 7, 8, 9]

In [ ]:
# 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전

list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list1[3:11] # 인덱스 3에서 10까지 출력이면 [3:11] 로 해야함!
# list2.sorted(reverse=True)
# print(list2) # 이건 오류뜸 sorted 쓰려면 저장공간 만들어서 하자
l_sort = sorted(list2,reverse=True) # ,reverse=True 거꾸로 출력
l_sort

[87, 54, 39, 29, 19, 15, 13, 4]

In [ ]:
list3 = list1[3:11] # list3은 list1의 3부터 11까지다
list3.sort(reverse=True) # list3을 sort로 순서대로 하고, reverse로 거꾸로함
print(list3) # 출력

[87, 54, 39, 29, 19, 15, 13, 4]

[과제4] 아래 list를 sort, sorted 를 이용해서 올림차순, 내림차순으로 각각 출력하세요.

In [ ]:
list = [5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 3, 5, 7, 9, 11, 13, 15, 17]

In [ ]:
# 자료형 = Tuple
# 튜플의 요소 값은 변경할 수 없음
# immutable 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a', 'b', 'c'])

tuple1[:]
tuple1[2]
tuple3[3][2]

3

In [ ]:
# list = [1,2,3,4,5]
list[0] = 0
list

IndexError: list assignment index out of range

In [ ]:
tuple = (1,2,3,4,5)
tuple[0] = 0
tuple # 에러가 나오는 이유는 튜플의 immutable특징. 요소가 변할 수 없음

TypeError: 'tuple' object does not support item assignment

In [ ]:
l1 = [1]
print(l1) # 리스트에서는 요소가 1개여도 콤마로 구분 안해줘도되는데 튜플은해야함

[1]

In [ ]:
t1 = (1,) # 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)

(1,)

In [ ]:
tl = (1) # , 안했을 경우임. 이건 그냥 정수 괄호도 생략가능함
print(tl)
type(tl) # 튜플은 요소가 하나일때 콤마로 구분을 안하면 타입이 튜플이아님

1

int

In [ ]:
tl = (1,) # , 넣으면 바로 정수아닌 튜플. 괄호도 생략가능함
print(tl)
type(tl)  # 튜플은 콤마로 구분하고 타입은 튜플

(1,)

tuple

In [ ]:
t2 = 1,2,3 # 튜플은 괄호를 생략가능!
print(t2)

(1, 2, 3)

In [ ]:
t2 * 3
t1 + t2 # 튜플끼리 더하고 곱하고 가능

(1, 1, 2, 3)

In [ ]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
[a:1, b:2]

In [ ]:
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])

1

In [ ]:
d1.keys() # .keys()키

dict_keys(['a', 'b', 'c'])

In [ ]:
d1.values() # .values()값

dict_values([1, 2, 3])

In [ ]:
d1.items() # .items()키와 값을 모두 뽑아줌

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
d1['d'] = 4 # 키&값을 추가
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 값2를 값7로 바꾸기
d1['b'] = 7
d1 # 원래 2었는데 7로 바꿨음

{'a': 1, 'b': 7, 'c': 3, 'd': 4}

In [ ]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)

In [ ]:
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2) # 순서가 없어서 정말 각각 다른 순서대로 나옴 # 순서가 없으면 인덱싱 불가능

{1, 2, 3, 4, 5}
{'H', 'l', 'e', 'o'}

In [ ]:
# 오류가 생기면 커널 셧다운 하고 다시 런 할때 메모리에 s1 s2 를 넣어야 변환이 가능!
# 위에걸 다시 실행하고 실행하면 됨
li = list(s1)
li[1]

2

In [ ]:
li = list(s2)
print(li[3]) # H l e o 0 1 2 3

o

In [ ]:
l2 = list(s2)
print(l2[3])

o

In [ ]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(list(s1|s2)) # 합집합 or -> | 로 표현
print(list(s1&s2)) # 교집합 and & 로 표현

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

#### True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [ ]:
# 자료형 - 논리(Bool) 블린 인덱싱
print(bool(0)) # 0 이거나 없으면 False
print(bool(''))
print(bool([]))
print(bool(1)) # 1 이거나 다른 숫자면 True
print(bool(-100.1))

False
False
False
True
True

In [ ]:
# 관계 연산자
x = 1; y=2 # 세미콜론
str1 = 'abc'; str2 = 'python' # 세미콜론
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2) # str2가(python) abc인 str1보다 길어서 true

False
True
False
True
True

In [ ]:
# 논리 연산자
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3) # bool3 가 True 이니까 그 반대는 False
print(not bool4)

False
True
False
True

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로
제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [ ]:
# 들여쓰기 안하면 오류 예시
if 5 > 3: # 들여쓰기(indentation)로 {}를 대신한다. java에선 {}씀
print(5) # IndentationError: expected an indented block after 'if' statement on line 1

IndentationError: expected an indented block after 'if' statement on line 1 (1296752891.py, line 2)

In [ ]:
# 올바른 예시
if 5 > 3:
    print(5) # 들여쓰기를 해서 오류가 안나는 상태

5

In [ ]:
li = ['a', 'b', 'c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [ ]:
# 심주승님 솔루션
li = ['a', 'b', 'c']

if 'a' in li:
    print(1)
else :
    print(2)

1

In [ ]:
# 김신미님 솔루션
li = ['a','b','c']
char = 'a';

if char in li:
    print("list의 요소에 {}가 있습니다!" .format(char))
else:
    print("list의 요소에 {}는 없습니다!" .format(char))

list의 요소에 a가 있습니다!

In [ ]:
numbers = [1, 2, 3]
sum(numbers) # 내장된 함수

6

In [ ]:
# 사용자 함수 # add는 함수이름. def 함수 만들기 라고 생각하면 됨
def add(a,b,c):
    return a + b + 3

add(1,2,3) # a 하고 b가 인자값인데 사용자함수 에 넣음

6

In [ ]:
class SubMul:
    def sum(self,n1,n2):
        return n1 + n2
    def mul(self,n1,n2):
        return n1 * n2

obj1 = SubMul() # 객체 선언 # SubMul1이라는 붕어빵기계 가져와서 그 안에 있는 기능들을 객채들을 만들어주는거임
print(obj1.sum(1,1)) # 덧셈을 가져와서 사용 .sum(1,1) 1+1
obj2 = SubMul() # 객체 선언
print(obj2.mul(1,1)) # obj2 는 곱셈을 하는 객체로 함

2
1

In [ ]:
# split()함수 공백을 기준으로 해서 나눠줌
text = '나는 오늘 기분이 좋아요'
words = text.split()
words

['나는', '오늘', '기분이', '좋아요']

In [ ]:
# 복합대입연산자
+= #더한다음에 대입하라

In [ ]:
num = 10
num += 10 # num = num + 10
num

20

In [ ]:
# [과제5] 복합 대입연산자를 이용해서 4칙연산을 수행하세요

num = 7
num += 2
num -= 2
num *= 2
num /= 2
num //= 2
num %= 2
num

1.0

In [ ]:
# 소문자, 대문자 변환
# 개수셀때 dog DOG을 단어별로 카운트하려면 소문자던지 대문자던지 하나로 통일 해서 바꿔야함
word = 'Dog'
w1 = word.lower()
print(w1)
w2 = w1.upper()
print(w2)

dog
DOG

#### [과제6] 다음 과제를 수행하세요.
- 사용자로 부터 텍스트를 입력 받는다. input
- 문장을 단어 단위로 분리 split
- 단어의 빈도 수를 저장할 딕셔너리를 생성. 결과 생성할 것을 {}로 선언 word frequency를 딕셔너리로 선언. word_frequency = {}
- 각 단어의 빈도 수를 계산(for 문 / if else문)
- 결과 출력

In [ ]:
# 강사님 솔루션
word_frequency = {} # 이게 아주 키다! list론 이게 안됨
words_list = [나는 밥을 먹었다. 나는 학교에 간다.]
for word in words_list:
    if word in word_frequency:
        words_frequency[word] += 1
    else:
        words_frequency[word] = 1

SyntaxError: invalid syntax. Perhaps you forgot a comma? (372878263.py, line 2)

In [ ]:
{'나는':2,'밥을':1}

In [ ]:
# 과제6 한정현 솔루션
word_frequency = {}
words_list = []

In [1]:
# input 으로 사용자로 부터 텍스트를 입력 받기

words_frequency = {} # {} 로 딕셔너리 이게 아주 포인트다! list론 이게 안됨

words_list = input("Please input the sentences here : ") # input 으로 사용자로부터 텍스트 입력 받기
lower_words = words_list.lower() # lower : 입력받은 문장을 소문자로 변환
split_words = lower_words.split() # split : 공백을 기준으로 해서 나눠줌

for word in split_words: # 각 단어의 빈도 수를 계산...
    if word in words_frequency:
        words_frequency[word] += 1
    else:
        words_frequency[word] = 1

print(words_frequency) # 결과 출력

Please input the sentences here : TiK ToK Song by Kesha Wake up in the mornin' feelin' like P Diddy (hey, what up girl?) Grab my glasses, I'm out the door, I'm gonna hit this city (let's go) Before I leave, brush my teeth with a bottle of Jack 'Cause when I leave for the night, I ain't comin' back I'm talkin' pedicure on our toes, toes Tryin' on all our clothes, clothes Boys blowin' up our phones, phones Drop-toppin', playin' our favorite CDs Pullin' up to the parties Tryna get a little bit tipsy Don't stop, make it pop DJ, blow my speakers up Tonight, I'ma fight 'Til we see the sunlight Tick-tock on the clock But the party don't stop, no Oh, whoa, whoa-oh Oh, whoa, whoa-oh Don't stop, make it pop DJ, blow my speakers up Tonight, I'ma fight 'Til we see the sunlight Tick-tock on the clock But the party don't stop, no Oh, whoa, whoa-oh Oh, whoa, whoa-oh Ain't got a care in the world, but got plenty of beer Ain't got no money in my pocket, but I'm already here And now the dudes are linin' up 'cause they hear we got swagger But we kick 'em to the curb unless they look like Mick Jagger I'm talkin' 'bout everybody gettin' crunk, crunk Boys try to touch my junk, junk Gonna smack him if he gettin' too drunk, drunk Now, now, we go until they kick us out, out Or the police shut us down, down Police shut us down, down Po-po shut us down Don't stop, make it pop DJ, blow my speakers up Tonight, I'ma fight 'Til we see the sunlight Tick-tock on the clock But the party don't stop, no Oh, whoa, whoa-oh Oh, whoa, whoa-oh Don't stop, make it pop DJ, blow my speakers up Tonight, I'ma fight 'Til we see the sunlight Tick-tock on the clock But the party don't stop, no Oh, whoa, whoa-oh Oh, whoa, whoa-oh DJ, you build me up You break me down My heart, it pounds Yeah, you got me With my hands up You got me now You got that sound Yeah, you got me DJ, you build me up You break me down My heart, it pounds Yeah, you got me With my hands up Put your hands up Put your hands up Now, the party don't start 'til I walk in Don't stop, make it pop DJ, blow my speakers up Tonight, I'ma fight 'Til we see the sunlight Tick-tock on the clock But the party don't stop, no Oh, whoa, whoa-oh Oh, whoa, whoa-oh Don't stop, make it pop DJ, blow my speakers up Tonight, I'ma fight 'Til we see the sunlight Tick-tock on the clock But the party don't stop, no Oh, whoa, whoa-oh Oh, whoa, whoa-oh
{'tik': 1, 'tok': 1, 'song': 1, 'by': 1, 'kesha': 1, 'wake': 1, 'up': 17, 'in': 4, 'the': 27, "mornin'": 1, "feelin'": 1, 'like': 2, 'p': 1, 'diddy': 1, '(hey,': 1, 'what': 1, 'girl?)': 1, 'grab': 1, 'my': 14, 'glasses,': 1, "i'm": 5, 'out': 2, 'door,': 1, 'gonna': 2, 'hit': 1, 'this': 1, 'city': 1, "(let's": 1, 'go)': 1, 'before': 1, 'i': 4, 'leave,': 1, 'brush': 1, 'teeth': 1, 'with': 3, 'a': 3, 'bottle': 1, 'of': 2, 'jack': 1, "'cause": 2, 'when': 1, 'leave': 1, 'for': 1, 'night,': 1, "ain't": 3, "comin'": 1, 'back': 1, "talkin'": 2, 'pedicure': 1, 'on': 8, 'our': 4, 'toes,': 1, 'toes': 1, "tryin'": 1, 'all': 1, 'clothes,': 1, 'clothes': 1, 'boys': 2, "blowin'": 1, 'phones,': 1, 'phones': 1, "drop-toppin',": 1, "playin'": 1, 'favorite': 1, 'cds': 1, "pullin'": 1, 'to': 3, 'parties': 1, 'tryna': 1, 'get': 1, 'little': 1, 'bit': 1, 'tipsy': 1, "don't": 13, 'stop,': 12, 'make': 6, 'it': 8, 'pop': 6, 'dj,': 8, 'blow': 6, 'speakers': 6, 'tonight,': 6, "i'ma": 6, 'fight': 6, "'til": 7, 'we': 9, 'see': 6, 'sunlight': 6, 'tick-tock': 6, 'clock': 6, 'but': 9, 'party': 7, 'no': 7, 'oh,': 12, 'whoa,': 12, 'whoa-oh': 12, 'got': 9, 'care': 1, 'world,': 1, 'plenty': 1, 'beer': 1, 'money': 1, 'pocket,': 1, 'already': 1, 'here': 1, 'and': 1, 'now': 2, 'dudes': 1, 'are': 1, "linin'": 1, 'they': 3, 'hear': 1, 'swagger': 1, 'kick': 2, "'em": 1, 'curb': 1, 'unless': 1, 'look': 1, 'mick': 1, 'jagger': 1, "'bout": 1, 'everybody': 1, "gettin'": 2, 'crunk,': 1, 'crunk': 1, 'try': 1, 'touch': 1, 'junk,': 1, 'junk': 1, 'smack': 1, 'him': 1, 'if': 1, 'he': 1, 'too': 1, 'drunk,': 1, 'drunk': 1, 'now,': 3, 'go': 1, 'until': 1, 'us': 4, 'out,': 1, 'or': 1, 'police': 2, 'shut': 3, 'down,': 2, 'down': 5, 'po-po': 1, 'you': 9, 'build': 2, 'me': 8, 'break': 2, 'heart,': 2, 'pounds': 2, 'yeah,': 3, 'hands': 4, 'that': 1, 'sound': 1, 'put': 2, 'your': 2, 'start': 1, 'walk': 1}

In [ ]:
#과제 6 주용규님 솔루션
word_frequency = {} # 각각의 word에 대해서 word_frequency 여기에 워드가 있으면 +1 아니면 그냥 1
input_str = input("체크할 문장을 적어주세요: ")
words_list = input_str.split()
for word in words_list:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print(word_frequency)

#### escape 문자
- 키보드로 입력하기 어려운 기호 등을 나타낸다.
- \로 시작, \n 줄바꾸기, \t 탭,
- \ 를 사용하려면 \\하면됨

In [ ]:
print('\\n 을 사용 : 나는 파이썬을 사랑합니다.\n파이썬은 자바보다 훨씬 쉽습니다.\n')
print('\\t 를 사용 : 나는 파이썬을 사랑합니다.\t파이썬은 자바보다 훨씬 쉽습니다.\n')
print('나는 파이썬을 사랑합니다.파이썬은 자바보다 훨씬 쉽습니다.')

\n 을 사용 : 나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다.

\t 를 사용 : 나는 파이썬을 사랑합니다.	파이썬은 자바보다 훨씬 쉽습니다.

나는 파이썬을 사랑합니다.파이썬은 자바보다 훨씬 쉽습니다.

In [ ]:
print("Hello\t\World!") # 탭 문자를 사용하여 "Hello"와 "World!" 사이에 탭 간격을 줍니다.
print("Hello\n\World!") # 줄 바꿈 문자를 사용하여 "Hello"와 "World"를 다른 줄에 출력합니다.
print("She said, \"Hi!\"") # 큰따옴표를 문자열 내부에 포함시킵니다.
print('It\'s raining.') # 작은따옴표를 문자열 내부에 포함시킵니다.
print("Backslash : \\") # 백슬래시를 출력합니다.

Hello	\World!
Hello
\World!
She said, "Hi!"
It's raining.
Backslash : \

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다. 
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [11]:
print('%(num)d, %(float)f, %(string)s ' % {"num": 3, "float": 3, "string": 'hello'})

3, 3.000000, hello

In [10]:
txt1 = '자바스크립트'; txt2='파이썬'
num1= 5; num2= 10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt1, txt2))
print('%s은 %s보다 %d배 더 쉽습니다.' %(txt2, txt1, num1))
print('%d + %d = %d' %(num1, num2, num1+num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %(num1)) # %를 출력하려면 %% 하면됨

나는 자바스크립트보다 파이썬에 더 익숙합니다.
파이썬은 자바스크립트보다 5배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.

In [12]:
# str.format
print('We are the {} who say "{}!"'.format('knights', 'Ni')) # 중괄호에 들어갈것을 이렇게 씀-

We are the knights who say "Ni!"

In [14]:
# f-string # 문자열 포멧 # 가장 많이쓰임. 편함
name = '홍길동'
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.' # 맨 앞에 f를 쓰고 따옴표로 묶고 변수 들어가는 것만 중괄호 해주면 됨

'나의 이름은 홍길동입니다. 나이는 20입니다.'

In [19]:
table = {'Tom': 1234, 'Jack': 4518, 'Eddie': 9638} # 테이블을 만들어줌 (딕셔너리)
for name, phone in table.items(): # items 는 키, 값 둘다 출력
    print(f'{name:6}  ==>{phone:10d}') # :6 은 자릿수 name부터 6자리까지 :10d 는 10칸 , ==> 앞뒤에도 띄어쓰기로 표현 가능 # d는 숫자

Tom     ==>       1234
Jack    ==>       4518
Eddie   ==>       9638

In [49]:
# 소수점 4자리까지만 표현
y = 3.421634123
f'{y:0.04f}' # 실수가되는경우 f 정수가되는경우 d 쓰면됨 
f'{y:10.04}' # f 빼고하면 4자리에서 0.04 하면 3.422 즉 넷째자리에서 반올림 됨 # 그리고 앞에 10은 띄어쓰기 포함 10자리란뜻

'     3.422'

In [51]:
# 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
y = 3.421634123
f'{y:10.04f}'

'    3.4216'

In [ ]:
# [과제1_1030] num1 = 12345, num2 = 12.345679 을 아래와 같이 출력하세요.
12345
     12345
12.345679
          12.346

In [55]:
num1 = 12345
num2 = 12.345679
print('%d' %(num1))
print(f'{num1:10d}')
print(f'{num2}')
print(f'{num2:17.04f}')

12345
     12345
12.345679
          12.3457

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다. #10진수에서.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b) # 0,1
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o) # 0,1,2,3,4,5,6,7
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x) # 

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [61]:
a = 0o172 # 8진수 0o로 시작
d = 172
b = 0x7A # 16진수 0x로 시작
c = 0b1111010 # 2진수 0b로 시작
print(a)
print(d)
print(b)
print(c)

122
172
122
122

In [64]:
int_data = 10 # 10진수
bin_data = 0b10 # binary 2진수
oct_data = 0o10 # 8진수
hex_data = 0x10 # 16진수 # 16진수 10 a, 11 b, 12 c, 13 d, 14 e, 15 f
print(int_data)
print(bin_data)
print(oct_data)
print(hex_data)

10
2
8
16

In [ ]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
# 16진수 10 a, 11 b, 12 c, 13 d, 14 e, 15 f
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

In [65]:
# 2진수를 10진수로 표현
g1 = 0b100000 # 2^5
g2 = 0b10000 # 2^4
g3 = 0b10 # 2^1
print(g1)
print(g2)
print(g3)

32
16
2

In [70]:
# 16진수를 10진수로 표현
# 16진수 10 a, 11 b, 12 c, 13 d, 14 e, 15 f
f1 = 0xA # 소대문자 상관 x
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11) # 0x(16 진수)A+B

10
11
171
171

#### 실습! 연습해보기! 식별자가 될 수 있나 없나 ?  
#### 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- alpha -> 가능! 키워드였으면 불가능인데 아니어서 됨
- Alpha -> 가능! 대문자도 상관없음
- ALPHA -> 가능! 소대문자 상관없음~
- 123alpha -> 불가능!! 숫자가 앞에오면 불가능!
- alpha123 -> 가능! 숫자가 앞에만 안오면 됨!
- break -> 불가능!! 키워드라서 안됨 그럼 이걸 쓰고싶으면 break1 이나 break_a 이런식으로 쓰면 됨

#### 파이썬에서 문장은 뭘까? 실습! 연습해보기!
a = 10  -> 이건 a 라는 변수(저장공간)에 10을 저장함 a는 표현식. 10도 표현식. a=10은 문장
print("hi") -> 이건 문장인데 표현식이 모여있는것이 1개이상 모인것이 문장임

In [ ]:
a = 3
b = 4

def add(x, y):
    return x+y

print(add(a,b))

7

#### 연산자 https://dingrr.com/blog/post/python-103-%EC%97%B0%EC%82%B0%EC%9E%90%EC%9D%98-8%EA%B0%80%EC%A7%80-%EC%A2%85%EB%A5%98
1. 산술 연산자(Arithmetic Operators)
산술연산자는 단순히 계산을 위한 연산자 들입니다.

- / 나누기
- % 나머지
- ** 제곱
- // 나눈 후 몫이 소수점이면 내림

In [ ]:
# 산술 연산자 연습문제 예시

print(11 + 2)
print(11 - 2)
print(11 * 2)
print(11 / 2)
print(11 % 2)
print(11 ** 2)

13
9
22
5.5
1
121

2. 할당 연산자(Assignment Operators)
할당 연산자는 값을 변수에 할당할때 쓰는 연산자 입니다.

- = 오른쪽 값을 왼쪽 변수에 할당함
- +=, -=, *=, /=, %=, //=, **=

In [ ]:
# 할당 연산자 예시
a = 90
print(a)
a += 10
print(a)
a /= 10
print(a)

90
100
10.0

In [ ]:
# 3. 삼항 연산자(Ternary Operator)
# 앞 서 말씀드린 삼항 연산자로 왔습니다.
# 사실 솔직하게 말씀드리면, 파이썬에게 삼항연산자는 없습니다.
# 대신 삼항 연산자보다 더욱 가독성 좋은 문법이 있습니다.

num = 9
val = "짝수입니다." if num % 2 == 0 else "홀수입니다"
print(val)

# 파이썬은 문법! 자바스크립트는 연산자..

홀수입니다

4. 비교 연산자(Comparison Operators)
연산자를 사이에 두고 좌우 변수를 비교하는 연산자 입니다. 이 연산자들의 반환값은 참, 거짓 입니다.
- == 같다면
- != 같지 않다면
- <, > 더 크다면
- <=, >= 이상 이하라면

In [ ]:
# 비교 연산자 예시
a = 10
b = 9
if a > b:
    print('a가 큽니다.')
else :
    print('b가 큽니다')

a가 큽니다.

5. 논리 연산자(Logical Operators)
논리 연산자는 if... else 구문처럼 조건문을 결합할때 사용합니다.

and 연산자 : 둘다 참이면(and를 두고 좌우 조건문이 모두 참이면) True
or 연산자 : 하나라도 참이면(or을 두고 좌우 조건문중 하나라도 참이면) True
not 연산자 : 조건부 자체가 거짓이라면 True

In [ ]:
# 논리 연산자 예시

a = 3
b = 5
c = 10
d = 9

print(a < b and c > d)
print(a < b or c < d)
print(not c < d)

True
True
True

6. 항등 연산자(Identity Operators)
항등 연산자는, 같은 메모리에 있는지를 확인 하는 겁니다.2가지 밖에 존재 하지 않습니다.
잘 한번 코드를 봐주세요. 값이 같은 것을 넘어 객체 존재 자체가 같아야 합니다.

In [ ]:
# 항등연산자 예시

a = [1, 3, 4, 5]
b = [1, 3, 4, 5]

print(a == b)
print(a is b)
print(a is not b)

# a와 b는 같은 값의 리스트를 할당 받았습니다.
# == 연산자는 값이 같기에 True를  반환 하였습니다,
# 반면 is 는 false를 리턴 하였습니다.
# 같은 메모리 주소가 아니기 때문입니다.
# is not 은 반대이기때문에 true를 리턴하였습니다.

True
False
True

In [ ]:
# 7. 멤버 연산자(Membership Operators)
# 멤버 연산자는 왼쪽 값이 오른쪽 컨테이너 객체의 멤버인지를 확인하는 연산자 입니다.
# 이 또한 2개 밖에 없습니다. 함께 확인해 보실까요?

a = 10
b = [1, 10, 3, 4, 65, 8]
c = 9
if a in b:
    print('a가 b리스트 안에 있습니다.')
if not c in b:
    print('c가 b리스트 안에 없습니다.')

a가 b리스트 안에 있습니다.
c가 b리스트 안에 없습니다.

8. 비트 연산자(Bitwise Operators)
비트단위로 연산을 하는 비트연산자 입니다. 아직은 어려울 수 있으니 '이런게 있구나..' 하시면 됩니다.

요즘은 잘 사용하진 않지만, 예전에는 메모리가 비싸서 최대한 메모리를 아끼고 아끼는 비트연산을 했습니다. 지금도 임베디드 프로그래머들은 할 수 도 있겠군요. 예를들어 True, False 를 나타내는 bool 타입 자료형은 8비트를 차지 합니다. 하지만 이중 8개의 비트중 사용하지 않는 것이 대부분이지요. 이런 것을 비트연산자를 사용하면 메모리를 절약 할 수 있습니다.

In [ ]:
# 파이썬은 C++과 마찬가지로 6개의 비트연산자가 있음
# & and의 연산을 비트단위로 함
# | or의 연산을 비트단위로 함
# ^ xor의 연산을 비트단위로 함
# ~ not의 연산을 비트단위로 함
# << 비트단위로"왼쪽으로 비트단위 밀기"연산을 합니다
# >> 비트단위로"오른으로 비트단위 밀기"연산을 합니다

a = 0b10101010
b = 0b01110011
print('a = ', a, ":", bin(a))
print('b = ', b, ":", bin(b))
print('a & b =', a & b, ":", bin(a & b))
print('a | b = ', a | b, ":", bin(a | b))

a =  170 : 0b10101010
b =  115 : 0b1110011
a & b = 34 : 0b100010
a | b =  251 : 0b11111011

## 시퀀스 자료형
파이썬에는 세 가지 시퀀스(sequence) 자료형이 있다.

- 문자열: 'Hello'. 문자열(string)은 문자(character)들의 시퀀스다.
- 리스트: [1, 4, 5].
- 튜플: ('GOOG', 100, 490.1)

In [ ]:
a = [-1,0,1,2,3,4,5,6,7,8]

a[1:2]
a[-5:]
a[:3]

[-1, 0, 1]

### 매핑이란 해당 값이 다른 값을 가리키도록 하는 것이다.
예를들면  http://localhost:8080/action.do 라는 페이지를 만들었다고 했을시 이 url이 그대로 노출된다면 보안상 매우 취약 할 수 있을 것이다. 그래서 action.do가 아닌 ac.do가 action.do랑 똑같다는 식으로 설정하여 ac.do로 갔을 때 action.do로  가게 함으로서 보안성을 높일 수 있다.


또한 Mapping을 하는 이유는 보이는 바와 같이 일단 주소가 간결해 지는 것에 있다. 클라이언트 입장에서 full path를 이용해 웹 페이지에 접속하는 것은 정말 짜증나고 귀찮은 타이핑이 될 것인데 이를 확 줄여 이용자가 훨씬 편리하게 웹 사이트를 이용 할 수 있게 된다.

In [ ]:
# 문자열 예시
a = 1
b = '1'
c = 1.0
d = "1.0"

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>

In [ ]:
#파이썬의 집합은 고유한 요소의 모음. 단일 변수에 여러 항목을저장하기 위해 있음
# 순서가 없고(그래서 인덱스로 접근 못함. for문 으로 접근 할수 있음)
# 중복 허용 안되고
# 요소는 변경 불가능한 자료형만 사용할 수 있음


# 집합의 간단한 예시.. set을 사용 출력하였더니 {} 로 됨
# 리스트를 집합으로 변환하는 예시임
>>> set_example = set([1, 2, 3, 4, 5])
>>> print(set_example)

{1, 2, 3, 4, 5}

In [ ]:
#블린 -> 값들을 비교할 때 사용
# 블린(참/거짓) => 판단

# True, False (파이썬은 첫글자가 대문자임)

# False인 경우: None, 0, [], (), {}, ""