#### 파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip()(인덱스가같은것끼리..) 등이 내장 함수입니다. import 할 필요 없음 기본적인 작업을 수행..
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함
- 파이썬을 설치할때 같이 설치됨 import로 끌어오기만하면 됨 datetime 할때 .now 이런게 외장함수
- 외장함수.. 모듈안에는 클래스 함수 .. 등이 있음
- datetime(모듈).datetime(?).now(class)(외장함수) -> now 가 외장함수. 모듈들을 모아놓은것이 패키지
- 디렉토리에 해당되는것이 패키지 라이브러리. .py 로 끝나는건 파이썬의 파일->모듈이 .py로 끝남. 그 모듈안에는 클래스나 아님 바로 함수를 쓸수도 있음. 그것을 쓸때에는 '.'을 사용해서 함. 패키지보다 더 큰 개념은 import pandas as pd -> panads는 pd로 줄여서 .. 그래서 쓰려면 .pd로 쓰면 됨 (pandas안에 들어간다.)

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다. 
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치, 아나콘다에서는 conda install ~ 이렇게 했는데 파이썬에서는 pip 를 사용함
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- def = definition 데피니션 (=정의)
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값(결과값 y=ax+b 에서 y)을 지정 임프값 반환값

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

In [1]:
!pip install pandas
# 이미 설치되어있어서 Requirement already satisfied: ~ 이렇게뜸

Requirement already satisfied: pandas in c:\anaconda3\envs\kita\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in c:\anaconda3\envs\kita\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda3\envs\kita\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda3\envs\kita\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\anaconda3\envs\kita\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\anaconda3\envs\kita\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
# 내장 함수 예제
print("Hello, World!") # 출력 함수
print(len([1,2,3,4])) # 길이 계산 함수
print(type(10)) # 타입 확인 함수 # <class 'int'>

Hello, World!
4
<class 'int'>

In [1]:
# 외장 함수 예제 # import로 써야함
import math # 수학 모듈 임포트
print(math.sqrt(16)) # square_route sqrt제곱근 계산 함수 math.sqrt(number)

import random # 랜덤 모듈 임포트
print(random.randint(1,10)) # 랜덤 정수 생성 함수 # 1부터 10까지의 랜덤 생성 # randint 는 양끝 포함..

import datetime # 날짜와 시간 모듈 임포트
print(datetime.datetime.now()) # 현재 날짜와 시간 출력 함수

4.0
4
2023-10-31 15:14:51.502966

In [8]:
# 외부 라이브러리 예제
# 먼저 pip를 사용하여 requests 라이브러리를 설치합니다.
# !pip install pandas # 이미 설치가 되어있음..

import pandas as pd
data = {'Name' : ['Alice', 'Bob', 'Charlie'], 'Age':[25,30,35]}
df = pd.DataFrame(data) # ~해서 df에 저장

# pandas의 head() 함수 사용하여 DataFrame의 처음 5행 출력 (여기서는 3행만 존재)
print(df.head()) # head는 앞에것만 5개 뽑기 # df.head(number)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [12]:
#사용자 함수 예제
def greet(name):
    return f"Hello. {name}!"

print(greet("한정현!"))

Hello. 한정현!!

#### 람다 함수

In [7]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x, y: x * y
print(multiply(3, 4)) # 출력 : 12

sum = lambda a, b : a + b
print(sum(0,20))

12
20

In [8]:
mul = lambda a,b : a*b
print(mul(1,2))

sum1 = lambda c,d : c+d
print(sum1(10,1))

2
11

In [18]:
# 조건 사용 :
is_even = lambda x : True if x % 2 == 0 else False
print(is_even(4)) # 출력 : True
print(is_even(5)) # 출력 : False

True
False

In [99]:
# map() 함수와 함께 사용 : 
numbers = [1,2,3,4,5]
squared_numbers = map(lambda x : x * x, numbers)
# 1일때 1x1 2일때 2x2 3일때 3x3 ... 1, 4 9 16 25 # 맵핑해라 곱하기던지 나누기던지 빼기던지.... 
# 데이터가 있는데 거기에 한꺼번에 함수 적용 map
print(list(squared_numbers))

TypeError: 'list' object is not callable

In [98]:
# map
num = [1,5,10]
more_num = map(lambda a : a + 2, num)
print(list(more_num))

ModuleNotFoundError: No module named 'map'

In [96]:
# map
num = [1,5,10]
more_num = map(lambda a : a * 2, num)
print(list(more_num))

TypeError: 'list' object is not callable

In [3]:
abclist = [1,2,3,4]
nlist = map(lambda a : a * a, abclist)
print(list(nlist))

TypeError: 'list' object is not callable

In [30]:
# filter() 함수와 함께 사용:
numbers = [1,2,3,4,5]
even_numbers = filter(lambda x : x % 2 == 0, numbers) # numbers에서 만든조건을 만족하는것을 뻄
print(list(even_numbers)) # list뜻은 ()안에있는것을 리스트로 바꾼다는뜻

[2, 4]

In [13]:
#filter
num = [1,3,6]
an = filter(lambda a : a== 3,num)
print(list(an))

[3]

In [13]:
# sorted() 함수와 함께 사용 :
students = [('Alice', 90),('Bob', 85),('Charlie',88)]
# sorted_students = sorted(students, key=lambda x: x[1])
sorted_students = sorted(students, key=lambda x : x[1], reverse=True) # key는 sort 기준
print(sorted_students) # 출력 : [('Alice', 90), ('Charlie', 88),('Bob',85)]

[('Alice', 90), ('Charlie', 88), ('Bob', 85)]

In [16]:
# sorted() 함수와 함께 사용 :
students = [('Alice', 90),('Bob', 85),('Charlie',88)]
# sorted_students = sorted(students, key=lambda x: x[1])
sorted_students = sorted(students, key=lambda x : x[1]) # key는 sorted할때 뭘기준? 여기선 값을 기준으로 해라
print(sorted_students) # 출력 : [('Alice', 90), ('Charlie', 88),('Bob',85)]

[('Bob', 85), ('Charlie', 88), ('Alice', 90)]

In [21]:
stu = [('A', 90),('B',80),('C',50)]
sorted_stu = sorted(stu, key=lambda x : x[1])
print(sorted_stu)

[('C', 50), ('B', 80), ('A', 90)]

#### 사용자 함수

In [44]:
def add_number(n1, n2): # 함수이름을 add_number 로함 
    ret = n1 + n2
    return ret # 사용자함수에서 결과값은 항상 return으로 함

def add_txt(t1, t2):
    print(t1+t2)

ans1 = add_number(10,15)
print(ans1)
ans2 = add_number(20,25)
print(ans2)
txt1= '대'
txt2= '만'
add_txt(txt1,txt2)

25
45
대만

#### 과제8_1031
- 과제8-1 내장함수(배운 것) 5개를 활용해서 간단한 프로그램을 만드세요.
- 과제8-2 외장함수(배운 것) 5개를 활용해서 간단한 프로그램을 만드세요.
- 과제8-3 사용자 함수 3개를 작성하세요.
- 과제8-4 리스트를 작성하고 람다 함수를 이용해서 한번에 함수를 적용하여 결과값을 출력하세요
- 과제8-5 외부 라이브러리를 임포트해서 간단한 프로그램을 만드세요.

#### 과제8-1_1031 내장함수(배운 것) 5개를 활용해서 간단한 프로그램을 만드세요.

In [60]:
# 과제 8-1 솔루션

# 첫번째 내장함수 input()
a = str(input("내장함수 5개 활용하기.. 첫번째! 사용자가 입력하는 이 함수의 이름은 ? 영어로 써주세요.. : "))

# 두번째 내장함수 print()
print(a)
list_any = [1,2,3,4]

# 세번째 내장함수 len()
print(len(list_any))

# 네번째 내장함수 type()
print(type(list_any))

# 다섯번째 내장함수 zip(), list()
fruits = ['apple', 'ornage', 'pear']
name = ['Cove', 'Jeff', 'Lay']
zipped = zip(fruits,name)
print(list(zipped))

내장함수 5개 활용하기.. 첫번째! 사용자가 입력하는 이 함수의 이름은 ? : input
input
4
<class 'list'>
[('apple', 'Cove'), ('ornage', 'Jeff'), ('pear', 'Lay')]

#### 과제8-2_1031 외장함수(배운 것) 5개를 활용해서 간단한 프로그램을 만드세요.

In [ ]:
# 과제8-2_1031 솔루션

# 첫번째 외장함수 random()
# 사용자가 입력한 게임 회수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 처리)
import random
num = int(input(""))

#### 과제8-3_1031 사용자 함수 3개를 작성하세요.

In [96]:
# 과제8-3_1031 솔루션

# 첫번째 사용자 함수 : 인사하기
def greeting(name):
    return f"Hello. {name}!"
print(greeting("한정현"))

# 두번째 사용자 함수 : 수학연산
def haha(x) :
    return x*(x + 2) +10000
result = haha(6)
print(result)

# 세번째 사용자 함수 : 
def print_number(x, y) :
    print(x, y)
print_number(1, 3)
print_number(10, -600)

Hello. 한정현!
10048
1 3
10 -600

#### 과제8-4 리스트를 작성하고 람다 함수를 이용해서 한번에 함수를 적용하여 결과값을 출력하세요

In [ ]:
# 과제8-4_1031 솔루션

#### 과제8-5 외부 라이브러리를 임포트해서 간단한 프로그램을 만드세요.

In [29]:
# 과제8-5_1031 솔루션 # pandas
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [30]:
# 과제8-5_1031 솔루션 # math
import math
print(math.pi)
print(math.log(2))
print(math.cos(0.1))

3.141592653589793
0.6931471805599453
0.9950041652780258

#### 함수 vs 메소드 
- 함수 (Function) 단독. 독립적
    - 함수는 특정 작업을 수행하거나 값을 계산하기 위해 정의된 코드의 블록
    - 함수는 def 키워드를 사용하여 정의
    - 함수는 전역적으로 호출할 수 있거나 다른 함수 내부에서 호출할 수 있다. 함수안이면 지역적. 로컬 이라 표현
    - 예: print(), len(), max()
- 메소드 (Method) 객체. 같이사용, .now() 이런식으로 . 을쓰는데 .앞에있는것이 객체
    - 메소드는 객체에 속한 함수즉, 메소드는 특정 객체의 속성이거나 기능으로 정의
    - 메소드는 객체와 연결되어 있으며, . (점) 표기법을 사용하여 해당 객체에 대한 메소드를 호출
    - 메소드는 첫 번째 매개변수로 self를 사용하여 객체 자체를 참조 (클래스 내부에서 메소드를 정의할 때) 클래스안에있는 함수를 메소드라고함
    - class에서 만들어지는걸 보통 객체라고 하는데 파이썬에선 모든게 객체가 될수 있음
- 주요 차이점
    - 정의: 함수는 독립적으로 정의되지만, 메소드는 클래스 내부에서 정의. 클래스를 가지고 객체를 만듦
    - 호출: 함수는 이름만으로 호출될 수 있지만, 메소드는 객체를 통해 호출
    - 참조: 메소드는 첫 번째 매개변수로 객체 자신을 참조(self), 반면 함수는 이런 자체 참조 매개변수를 갖지 않는다.

In [34]:
def my_function():
    print("Hello from a function")

my_function() # 함수 호출

Hello form a function

In [35]:
class MyClass: # 이름이 MyClass인 클래스
    def my_method(self):
        print("Hello from a method")

obj # 붕어빵 = MyClass() #붕어빵기계/ #객체를 만드려면 MyClass 에 ()붙이면 MyClass() 이렇게 객체를 만들면 됨
obj.my_method() # 메소드 호출 # . 쓰면 객체 만드는 순간 MyClass안에 있는 모든것을 다 쓸수 있음 . 이런 경우의 함수를 메소드라고부름

Hello from a method

In [36]:
# 메소드 사례
my_list = [1,2,3,4,5]
my_list.append(6) # 리스트에 요소 추가 # 객체.메소드 -> append 를 쓸땐 객체에다가 . 찍고  씀 my_list를 객체라고봄
my_list

[1, 2, 3, 4, 5, 6]

In [38]:
my_string = "hello"
upper_string = my_string.upper() # 문자열을 대문자로 변환
print(upper_string)

HELLO

In [41]:
my_dict = {'key1': 'value1', 'key2': 'value2'}
value = my_dict.get('key1') # key1에 해당하는 값을 가져옴
value

'value1'

In [47]:
my_set = {1,2,3}
my_set.add(4) # 집합에 요소 추가 # my_set 가 객체가됨
my_set

{1, 2, 3, 4}

In [45]:
my_list = [1,2,3,4,5]
index = my_list.index(3) # 리스트에서 3이라는 값의인덱스 반환
index

2

In [ ]:
import 
표준라이브러리는 파이썬을 설치할때 같이 설치가되어서 따로 install 할필요가 없고
외장함수는 따로 끌어다 써야하기 때문에 import를 씀
표준라이브러리랑 외장함수 헷갈리기 쉽다

#### 사용자 함수

In [49]:
def add_number(n1,n2): # 함수 함수이름을 add_number 로함 . def,return 초록색 -> 문법
    ret = n1+n2 # 매개변수. 
    return ret # ret을 반환.  # 사용자함수에서 결과값은 항상 return으로 함

def add_txt(t1,t2):
    print(t1+t2)

ans1 = add_number(10,15)
print(ans1)
ans2 = add_number(20,25)
print(ans2)
txt1= '대한민국~'
txt2= '만세!'
add_txt(txt1,txt2)

25
45
대한민국~만세!

In [23]:
# 함수 인자 : 기본적으로 인지 순서에 대응되는 값을 함수 코드에 대입
def add_txt(t1, t2= '파이썬') : # t2기본값을 대입한 기본 인자는 마지막에 위치해야함
    print(t1+' : '+t2)
    
add_txt('베스트') # t1 베스트, t2 파이썬(이미 위 함수에 들어가있음) 대입 
add_txt(t2 ='대한민국', t1='1등') # 인자 순서는 상관X , 키워드 인자에 의한 값 전달.

def func1(*args): # *args 인자값에 가변성이 있을때 이렇게 사용해줌 # args 는 함수내부에서 튜플로 처리
    print(args)

def func2(width, height, **kwargs): # **kwargs 키워드 인자가 불명확한경우. 근데! 특징이 함수 내부에서 사전으로 처리가 됨. keward args 임
    print(kwargs) #keward_arguments
    
func1() # 빈 튜플 () 출력
func1(3,5,1,5,8)
func1(3) # 튜플 요소 한개이면 , 뜸
func2(10,20) # 빈 사전 {} 이 출력
func2(10,20, f=50, color='blue')

베스트 : 파이썬
1등 : 대한민국
()
(3, 5, 1, 5, 8)
(3,)
{}
{'f': 50, 'color': 'blue'}

#### Q1_1101. 1~10까지 가변적으로 연산을 할 수 있는 사용자 함수를 작성(매개변수가 가변적)

In [70]:
# Q1_1101 주용규님 솔루션
def all_add(*args):
    result = 0
    for i in args:
        result += i
    print(result)

all_add(4,22,59)
all_add(4,22,50,65,75)
all_add(1,2,3)

85
216
6

In [29]:
# Q1_1101 솔루션
def f1(*args):
    fu = 1
    for n in args:
        fu *= n
    print(fu)

f1(2,3,4)
f1(10,9)
f1(2)

24
90
2

In [ ]:
#### Q2_1101. **args를 이용하여 아래와 같이 출력할 수 있는 사용자 함수 func2를 작성하세요
- 출력 :
- Width : 100
- Height: 200
- Other arguments: {'color' : 'red', 'thickness':5}

In [77]:
# Q2_1101. 솔루션
def func2(width, height, **kwargs):
    print(f'Width: {width}')
    print(f'Height: {height}')
    print(f'Other arguments: {kwargs}')
    
func2(100,200, color='red', thickness='5')

Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickness': '5'}

In [74]:
# Q2_1101. 서영우님 솔루션
def func2(width, height, **kwargs):
    print(f'Width: {width}')
    print(f'Height: {height}')
    print(f'Other arguments: {kwargs}')


func2(100, 200, color='red', thickenss=5)
func2(100, 200, color='red', thickenss=5, tpye='large') # kwargs 특징. args 처럼 여러개 써도 된다! 그래서 머신러닝 딥러닝 할때 많이씀

Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickenss': 5}
Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickenss': 5, 'tpye': 'large'}

#### 과제1_1101 : 사용자 함수를 아래와 같이 사용할 수 있는 func3를 작성하세요.
func3(100, 200)  
출력: Width: 100, Height: 200, Color: blue, Thickness: 1

func3(100, 200, color='green', thickness=10)  
출력: Width: 100, Height: 200, Color: green, Thickness: 10

In [1]:
# 과제1_1101 솔루션
def func3(width, height, **kwargs):
    dic_text = str(kwargs)[1:-1].replace("'", "")
    text3=f'Width: {width}, Height: {height}, {dic_text}'
    print(text3)

func3(100,200, color='green', thickness=10)

Width: 100, Height: 200, color: green, thickness: 10

In [ ]:
# 과제1_1101 솔루션
def func3(a, b,  color='blue', thickness=1):
    print(f'Width: {a}, Height: {b}, Color: {color}, Thickness: {thickness}')
    
# 출력 : Width: 100, Height: 200, Color: blue, Thickness: 1
func3(100, 200)

# 출력: Width: 100, Height: 200, Color: green, Thickness: 10
func3(100, 200, color='red', thickness=15 )

#### 과제2_1101 : 아래와 같이 출력되도록 func4를 작성하세요
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

        
func4(100, 200, color='yellow', style='dotted')
출력:
color: yellow
style: dotted

In [ ]:
# 과제2_1101 서영우님 솔루션
def func4(a,b,**kwargs):
    print_info(**kwargs) # 사용자함수 안에 사용자함수를 또 쓸수 있음 이게 포인트!!! 그래서 func4 안에 print_info에 kwargs 를 바로 넣어서 프린트 

def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

        
func4(100, 200, color='yellow', style='dotted')

#### 인자와 리턴값 여부에 따른 함수 유형

In [78]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [24]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
# add(3,4)
a = add(3,4)
print(a) # 리턴값이 없기 때문에 None 이 출력

3, 4의 합은 7입니다.

In [84]:
# 입력값과 결과값이 모두 있는 경우
def add(a,b):
    return a+b
a = add(3,4)
print(a) # 리턴값이 있기 때문에 None이 뜨지않음

7

In [93]:
# 입력값과 결과값이 모두 있는 함수
def max(a,b,c):
    if a > b :
        if a > c :
            return a
        elif a < c :
            return c
    if a < b :
        if b > c :
            return b
        else :
            return c
print(max(10,20,30))
max(10,20,30)

30

30

In [85]:
# 입력값도 결과값도 없는 함수
def say():
    print("Hi")

a = say()
print(a)

Hi
None

In [118]:
def math(x,y,z):
    if z ==  '*' :
        return x*y
    elif z == '/' :
        return x/y
    elif z == '//' :
        return x//y
    elif z == '%' :
        return x%y
    elif z == '+' :
        return x+y
    elif z == '-' :
        return x-y
    elif z == '**' :
        return x**y
    else :
        return

print(math(int(input("a : ")), int(input("b : ")), input("기호 : ")))

a : 2
b : 3
기호 : **
8

In [99]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else : 
        return f'{a} is {b}'
com(1,2)

'1 smaller than 2'

In [103]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result) # 반환 값은 하나이기 때문에 표현하기위해 함수안에서 튜플로 묶어서 하나로 반환

(7, 12)

In [109]:
# add_mul() 함수를 정의하여 1,2,3,4,5 를 입력 값으로 적용하여 덧셈(add), 곱셈(mul) 연산을 수행하세요.
def add_mul(choice, *args):
    if choice == "+" :
        result = 0
        for i in args : 
            result += i
        return result
    elif choice == "*" :
        result = 1
        return result
        for i in args :
            result *= i
        return result
    else :
        print("수행할 수 없는 연산입니다.")
    
print(add_mul('+', 1,2,3,4,5))
add_mul('*', 1,2,3,4,5)

15

1

#### 과제3_1101 : 뻴셈, 나눗셈 멀티 계산 함수 sub_div를 작성
('-', 2,4,6,8,10)
('/', 2,4,6,8,10)

In [ ]:
# 과제3_1101 솔루션

#### 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하고 
- 전역변수는 코드 전반에 걸쳐 유효
- 함수의 인자는 지역변수

In [110]:
strdata = '전역변수' # 전역변수는 함수바깥.. 글로벌

def func1():
    strdata = '지역변수' # 지역변수는 함수안에.. 로컬
    print(strdata)

func1() # 지역변수를 따른다

지역변수

In [111]:
print(strdata) # 전역변수를 따른다

전역변수

In [112]:
param = 10
def func2(param):
    param = 1
    
print(param) # 전역변수 10이 출력됨

10

In [115]:
param = 10
def func3():
    global param # 함수 내부에서 전역변수를 사용하려면 'global' 키워드를 이용해 전역변수를 사용한다고 명시
    param = 50
print(func3()) # 아무것도 없으니 None
print(param)

None
50

In [121]:
param = 10
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)
    
def func2(param):
    param = 1
    print(param)
def func3():
    global param
    param = 50
    
func1()
print(strdata)
print(param)
func2(param)
print('전역변수를 함수 안에서 사용')
func3()
print(param)

지역변수
전역변수
10
1
전역변수를 함수 안에서 사용
50

In [125]:
# 과제4_1101 : 아래 사용자 함수에서 결과가 아래와 같이 출력되도록 완성하세요.
# 함수 내에서의 x 값: 20
# 함수 밖에서의 x 값: 20   
x = 10

def modify_global():
    x = 20
    print("함수 내에서의 x 값:", x)
modify_global()
print("함수 밖에서의 x 값:", x)

함수 내에서의 x 값: 20
함수 밖에서의 x 값: 10

In [126]:
# 과제4_1101 솔루션
x = 20

def modify_global():
    x = 20
    print("함수 내에서의 x 값:", x)
modify_global()
print("함수 밖에서의 x 값:", x)

함수 내에서의 x 값: 20
함수 밖에서의 x 값: 20

In [ ]:
# 함수 안에서 선언된 변수의 효력 범위

In [26]:
a = 1 # 전역변수가 아니라 밑에다가 1대입해서 하려고 적은것
def vartest(a):
    a = a + 1

print(vartest(a))
print(a)

None
1

In [32]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용

a = 1 # 전역변수 X
def vartest(a):
    a= a+1
    return a

a = vartest(a)
print(vartest(a))
print(a)

3
2

In [35]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1
    
print(vartest())
print(a)

None
2

In [ ]:
#### 함수 리턴값 : return
- 함수는 한 개 이상의 값을 리턴할 수 있으며 리턴값이 없을 수도 있다.
- 리턴 값이 여러 개인 경우에는 튜플로 리턴값을 만들어 리턴

In [11]:
def reverse(x,y,z):
    return z, y, x
ret = reverse(1,2,3)
print(ret) # (3,2,1)이 출력됨

r1, r2, r3 = reverse('a','b','c')
print(r1,r2,r3)
print(r1); print(r2); print(r3) # 튜플의 요소 개수만큼 나누어서 리턴값을 개별적으로 받을 수 있음

(3, 2, 1)
c b a
c
b
a

In [132]:
# 현재 작업 폴더
%pwd

'D:\\hjh_directory\\workspace\\jupyter\\python programming'

In [149]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\hjh_directory\workspace\jupyter\python programming 디렉터리

2023-11-01  오후 02:23    <DIR>          .
2023-11-01  오후 02:23    <DIR>          ..
2023-11-01  오전 09:03    <DIR>          .ipynb_checkpoints
2023-11-01  오후 02:23    <DIR>          ex
2023-10-31  오전 11:02            15,505 python_2_제어문_과제1030_한정현.ipynb
2023-11-01  오전 09:43            87,829 python_2_제어문_메모리부족FIX.ipynb
2023-11-01  오후 02:22            50,645 python_3_함수.ipynb
2023-11-01  오전 09:32            14,979 python_3_함수_과제1031_한정현.ipynb
2023-10-31  오전 11:02            18,007 python_자료형_1_과제1027_한정현.ipynb
2023-10-31  오전 11:02             1,786 python_자료형_1_과제6_practice_1027_한정현.ipynb
2023-10-31  오전 11:02            98,091 python_자료형_1_한정현.ipynb
2023-11-01  오전 10:23            65,084 연습장.ipynb
               8개 파일             351,926 바이트
               4개 디렉터리  473,596,682,240 바이트 남음

In [141]:
!dir

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\hjh_directory\workspace\jupyter\python programming 디렉터리

2023-11-01  오후 02:20    <DIR>          .
2023-11-01  오후 02:20    <DIR>          ..
2023-11-01  오전 09:03    <DIR>          .ipynb_checkpoints
2023-10-31  오전 11:02            15,505 python_2_제어문_과제1030_한정현.ipynb
2023-11-01  오전 09:43            87,829 python_2_제어문_메모리부족FIX.ipynb
2023-11-01  오후 02:20            51,818 python_3_함수.ipynb
2023-11-01  오전 09:32            14,979 python_3_함수_과제1031_한정현.ipynb
2023-10-31  오전 11:02            18,007 python_자료형_1_과제1027_한정현.ipynb
2023-10-31  오전 11:02             1,786 python_자료형_1_과제6_practice_1027_한정현.ipynb
2023-10-31  오전 11:02            98,091 python_자료형_1_한정현.ipynb
2023-11-01  오전 10:23            65,084 연습장.ipynb
               8개 파일             353,099 바이트
               3개 디렉터리  473,596,682,240 바이트 남음

In [147]:
# 파일 만들기
!echo. > test.txt

In [148]:
# 파일 삭제
!del test.txt

#### 파일 입출력

In [157]:
# 폴더 경로 이동
import os 
os.chdir("D:\\hjh_directory\\workspace\\jupyter\\python programming")

In [158]:
%pwd

'D:\\hjh_directory\\workspace\\jupyter\\python programming'

In [159]:
# 파일 읽고 쓰기
f = open('test1.txt','w')
f.close()

In [160]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\hjh_directory\workspace\jupyter\python programming 디렉터리

2023-11-01  오후 02:26    <DIR>          .
2023-11-01  오후 02:26    <DIR>          ..
2023-11-01  오전 09:03    <DIR>          .ipynb_checkpoints
2023-11-01  오후 02:23    <DIR>          ex
2023-10-31  오전 11:02            15,505 python_2_제어문_과제1030_한정현.ipynb
2023-11-01  오전 09:43            87,829 python_2_제어문_메모리부족FIX.ipynb
2023-11-01  오후 02:26            52,140 python_3_함수.ipynb
2023-11-01  오전 09:32            14,979 python_3_함수_과제1031_한정현.ipynb
2023-10-31  오전 11:02            18,007 python_자료형_1_과제1027_한정현.ipynb
2023-10-31  오전 11:02             1,786 python_자료형_1_과제6_practice_1027_한정현.ipynb
2023-10-31  오전 11:02            98,091 python_자료형_1_한정현.ipynb
2023-11-01  오후 02:26                 0 test1.txt
2023-11-01  오전 10:23            65,084 연습장.ipynb
               9개 파일             353,421 바이트
               4개 디렉터리  473,596,682,240 바이트 남음

In [164]:
f = open('test1.txt','w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [165]:
f = open('test1.txt','r')
line = f.readline() # .readline 은 라인별로 읽겠다.
print(line)
f.close()

1번째 줄입니다.

In [168]:
f = open('test1.txt','r')
for i in range(10):
    line = f.readline() # .readline 은 라인별로 읽겠다.
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [175]:
f = open('test1.txt','r')
while True :
    line = f.readline() # .readline 은 라인별로 읽겠다.
    if not line : break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [170]:
# 원하는 줄만 출력
f = open('test1.txt','r')
for i in range(10):
    line = f.readline()
    if i == 4:
        print(line)
f.close()

5번째 줄입니다.

In [176]:
# f.read()는 파일 내용 전체를 문자열로 변환
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [4]:
f = open('test1.txt','a')
for i in range(11,16):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [8]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [1]:
# with 문과 같이 사용
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [2]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁시다.

In [5]:
with open('test2.txt','w') as f :
    for i in range(1,11) :
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [2]:
with open('test2.txt','a') as f :
    for i in range(1,11) :
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [9]:
with open('test2.txt','r') as f :
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

#### 과제5_1101 : 원하는 데이터를 생성해서 저장하고 다시 읽어오세요.

In [ ]:
# 과제5_1101 솔루션
with open ("wow.txt","w") as f :
    f.write("파이썬 파일생성! 와우")
    
with open ("wow.txt","r") as f :
    txt = f.read()
    print(txt)

In [ ]:
#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브패키지/모듈 
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언

In [14]:
# time 모듈
import time

print('5초간 프로그램을 정지합니다.')
time.sleep(5)
print('5초가 지나갔습니다.')

5초간 프로그램을 정지합니다.
5초가 지나갔습니다.

In [17]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\hjh_directory\workspace\jupyter\python programming 디렉터리

2023-11-01  오후 03:18    <DIR>          .
2023-11-01  오후 03:18    <DIR>          ..
2023-11-01  오전 09:03    <DIR>          .ipynb_checkpoints
2023-11-01  오후 02:23    <DIR>          ex
2023-11-01  오후 02:45                18 foo.txt
2023-11-01  오후 03:18                86 mymodule.py
2023-10-31  오전 11:02            15,505 python_2_제어문_과제1030_한정현.ipynb
2023-11-01  오전 09:43            87,829 python_2_제어문_메모리부족FIX.ipynb
2023-11-01  오후 03:16            63,826 python_3_함수.ipynb
2023-11-01  오전 09:32            14,979 python_3_함수_과제1031_한정현.ipynb
2023-10-31  오전 11:02            18,007 python_자료형_1_과제1027_한정현.ipynb
2023-10-31  오전 11:02             1,786 python_자료형_1_과제6_practice_1027_한정현.ipynb
2023-10-31  오전 11:02            98,091 python_자료형_1_한정현.ipynb
2023-11-01  오후 02:48               441 test1.txt
2023-11-01  오후 02:48               342 test2.txt
2023-11-01  오전 10:23            65,084 연습장.ipynb
              12개 파일             365,994 바이트
               4개 디렉터리  473,596,620,800 바이트 남음

In [3]:
# 사용자 작성 모듈
with open('mymodule.py','w') as f :
    f.write(
'''
def add_txt(t1,t2):
    return t1+':'+t2
def reverse(x,y,z):
    return z,y,x

''')

In [24]:
with open('mymodule.py','r') as f :
    data = f.read()
    print(data)

def add_txt(t1,t2):
    return t1+':'+t2
def reverse(x,y,z):
    retrun z,y,x

In [4]:
import mymodule

ret1 = mymodule.add_txt('대한민국','1등')
print(ret1)

대한민국:1등

In [5]:
ret2 = mymodule.reverse(1,2,3)
print(ret2)

(3, 2, 1)

In [25]:
# 클래스 # class 안에는 지역변수 메소드 함수들이 들어가 있을 수 있다.
class MyClass:
    var = '안녕하세요'
    def sayHello(self):
        print(self.var)
        
obj = MyClass() # MyClass 인스턴스 객체 생성
print(obj.var)
print(obj.sayHello())

안녕하세요
안녕하세요
None

In [ ]:
# !pip list
# !pip install pandas

In [27]:
import pandas as pd
df1 = pd.DataFrame({'a': [1,2,3,], 'b': [4,5,6], 'c':[7,8,9]})
df1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

In [42]:
df1.head(1)

   a  b  c
0  1  4  7

In [43]:
df1.keys

<bound method NDFrame.keys of    a  b  c
0  1  4  7
1  2  5  8
2  3  6  9>

In [44]:
df1.describe() # 통계 요약표

         a    b    c
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [41]:
import numpy as np
import pandas as pd
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]), columns=['a','b','c'])

df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [38]:
data = np.array([(1,2,3),(4,5,6),(7,8,9)])
df3 = pd.DataFrame(data, columns=['a','b','c'])
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65)) # 아스키코드

3
False
True
A

In [7]:
print(float(3))
print(int(3.9))
print(max(1,10))
print(min(1,10))
print(pow(10,2)) # 거듭제곱
print(round(2.675)) # 반올림

3.0
3
10
1
100
3

In [8]:
li = [1,2,3]
sum(li)

6

In [42]:
my_list = [1,2,3,4,5]
print(len(my_list))

5

In [12]:
age = 30
print("I am " + str(age) + " years old")

I am 30 years old

In [13]:
my_tuple = (1,2,3)
print(list(my_tuple))

[1, 2, 3]

In [15]:
my_list = [3,1,4,2]
print(sorted(my_list))
my_list

[1, 2, 3, 4]

[3, 1, 4, 2]

In [16]:
my_string = "Python"
print(type(my_string))

<class 'str'>

In [17]:
for idx, element in enumerate(['ele1','ele2','ele3']):
    print(idx+1,element)

1 ele1
2 ele2
3 ele3

In [44]:
for b, am in enumerate(['t1','t2']):
    print(b*2,am)

0 t1
2 t2

In [68]:
for i, routine in enumerate(['양치','샴푸','마지막 세수']):
    print(i+1,routine)

1 양치
2 샴푸
3 마지막 세수

In [27]:
print(range(10))
list(range(10))

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
# 목과 나머지
print(divmod(10,3))

(3, 1)

In [20]:
sum = lambda a,b:a*b
sum(3,4)

12

10

#### 과제6_1101 : 텍슽스트 파일(mydata.txt)을 읽고 파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
[] -> [177]회 나타남
[e] -> [97]회 나타남
[t] -> [85]회 나타남

In [28]:
with open('mydata.txt','w') as f:
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again

if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')

In [11]:
!echo. > mydata.txt
with open('mydata.txt','w') as f:
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again

if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')
with open('mydata.txt', 'r') as f:
    data = f.read()
#     print(data)
words_list = data # 데이터 받음
# words_list = list(words_list.replace(',', '').replace('.', '').replace('\n', '').replace("'", "").replace('!','').replace(' ','')) # 잡다한거 지우고 리스트화
words_set = set(words_list) # 리스트를 세트화한것을 변수에 저장
words_listed_set = list(words_set) # 세트화한 변수를 리스트화
word_frequency = {word : 0 for word in words_listed_set} # 세트화한 변수를 리스트화한 리스트를 딕셔너리화
for word in words_list: # 글자가 있는 리스트에서 글자하나씩 떼고
    if word in word_frequency: # 딕셔너리안에 있는 글자들도 하나씩 떼서
        word_frequency[word] += 1 # 딕셔너리[글자] = 갯수 - 돌린다.
word_frequency = sorted(word_frequency.items(), key= lambda x: x[1], reverse=True) # 많은 순서대로 나열했습니다. 순서를 가장 많은것부터 오게 첫번째부터
print('=' * 50)
print('가장 많이 나온 단어 5개를 뽑아 봤습니다.')
for i in range(20):
    print(f'[{word_frequency[i][0]}] -> [{word_frequency[i][1]}]회 나타남')

==================================================
가장 많이 나온 단어 5개를 뽑아 봤습니다.
[ ] -> [177]회 나타남
[e] -> [97]회 나타남
[t] -> [85]회 나타남
[a] -> [78]회 나타남
[o] -> [73]회 나타남
[s] -> [60]회 나타남
[n] -> [60]회 나타남
[r] -> [54]회 나타남
[i] -> [50]회 나타남
[h] -> [48]회 나타남
[
] -> [45]회 나타남
[l] -> [34]회 나타남
[u] -> [27]회 나타남
[d] -> [24]회 나타남
[c] -> [23]회 나타남
[w] -> [20]회 나타남
[m] -> [20]회 나타남
[f] -> [17]회 나타남
[y] -> [15]회 나타남
[p] -> [15]회 나타남

In [12]:
read_all = ''
with open('mydata.txt','r') as f:
    read_all = f.read()
    
str_set = set(read_all)
str_dict = {}

for i in str_set:
    str_dict[i] = read_all.count(i)

for k, v in str_dict.items():
    if k == '\n':
        k = '\\n'
        
    if k == ' ':
        print(f'[{k:2}] -> [{v:3}]회 나타남 (해당란은 공백값의 사용횟수를 표시)')
    elif k == '\\n':
        print(f'[{k:2}] -> [{v:3}]회 나타남 (해당란은 줄바꿈의 사용횟수를 표시)')
    else:
        print(f'[{k:2}] -> [{v:3}]회 나타남')

[t ] -> [ 85]회 나타남
[l ] -> [ 34]회 나타남
[a ] -> [ 78]회 나타남
[w ] -> [ 20]회 나타남
[h ] -> [ 48]회 나타남
[u ] -> [ 27]회 나타남
[o ] -> [ 73]회 나타남
[r ] -> [ 54]회 나타남
[' ] -> [  8]회 나타남
[g ] -> [ 11]회 나타남
[i ] -> [ 50]회 나타남
[c ] -> [ 23]회 나타남
[b ] -> [ 13]회 나타남
[y ] -> [ 15]회 나타남
[! ] -> [  2]회 나타남
[s ] -> [ 60]회 나타남
[m ] -> [ 20]회 나타남
[  ] -> [177]회 나타남 (해당란은 공백값의 사용횟수를 표시)
[n ] -> [ 60]회 나타남
[v ] -> [  9]회 나타남
[k ] -> [  7]회 나타남
[d ] -> [ 24]회 나타남
[p ] -> [ 15]회 나타남
[e ] -> [ 97]회 나타남
[\n] -> [ 45]회 나타남 (해당란은 줄바꿈의 사용횟수를 표시)
[f ] -> [ 17]회 나타남

In [13]:
sum = lambda a,b : a+b
sum(3,4)

7

In [17]:
def sum(a,b):
    return print(a+b)

print(print(sum(3,4)))

7
None
None

In [23]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))

7
12

In [ ]:
# Q1_1102. lambda 를 리스트 형태로 작성하여 4칙 연산을 해보세요.

In [25]:
list1 = [lambda a,b:a+b, lambda a,b:a-b, lambda a,b:a*b, lambda a,b:a/b]
for i in range(0,4):
    print(list1[i](11,2))

13
9
22
5.5

#### 과제1_1102 : 실행 가능한 숫자를 문자열('5+5') 입력으로 받아 문자열을 실행한 결과값을 출력하세요.

In [7]:
# 과제1_1102 전유빈님 솔루션 # eval 이란 함수를 찾아서 쓰셨음
print(eval(input('연산을 입력하세요.: ')))

연산을 입력하세요.: 5+5
10

In [71]:
#서영우님의 강의..... 너무나 respect!!!!!!!

In [8]:
num = input('5+5 : ')
maths = ['+','-','/','*']
math = {'+':lambda a,b:a+b,'-':lambda a,b:a-b,'/':lambda a,b:a/b,'*':lambda a,b:a*b}

num_list = list(num)
for i in num_list:
    if i in maths:
        num = num.split(i)
        print(math[i](int(num[0]),int(num[1])))

5+5 : 5+5
10

In [26]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

6
3
3

In [30]:
li = [1,2,3,4,5]
for i in range(1,len(li)): # len(li)이렇게 하면 끝인 5
    print(i,end='')
print()
print(len(li))

1234
5

In [32]:
li = [1,2,3,10,5] # 인덱스 i 를뽑는거라서 1234 출력
for i in range(1,len(li)): # len(li)이렇게 하면 마지막인덱스값이 변환이 안됨
    print(i,end='')
print()
print(len(li))

1234
5

In [70]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,10,2))) # step을 줄수 있음 ,,2 는  하나씩 건너뛰어서..
print(list(range(0,-10,-1))) # 
print(list(range(0,-10,-1)))
# list(range(0,-10))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [46]:
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 enumerate 객체를 리턴
for i, name in enumerate(['james','tom','susan']):
    print(i,name)

0 james
1 tom
2 susan

#### 과제2_1102 : enumerate와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력을 하세요.(인덱스와 내용을 믹스하여)

In [ ]:
# 과제2_1102 솔루션

In [10]:
# 과제2_1102 심주승님 솔루션 # 아주 좋은 예! # 우리가 배운걸 어떻게 써먹느냐..
list1 = ['김부장', '이차장', '김과장', '이대리', '오사원', '김인턴']

for index, name in enumerate(list1):
    print(f'인사평가 {index+1}번째 해당자는 {name}입니다. 회의실A로 오시기 바랍니다.')

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

In [51]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치
# pickle 은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈
# b 붙이면 바이너리로...
import pickle
f = open('test3.txt','wb')
data = {1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [55]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치
# pickle 은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈
import pickle
f = open('test3.jpg','wb') # b 붙이면 바이너리로 ..
data = {1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [54]:
import pickle # jpg 해서 그림판으로 열려 했는데 불가능...
f = open('test3.jpg','rb')
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [56]:
import os
os.environ['PATH']

'C:\\anaconda3\\envs\\kita;C:\\anaconda3\\envs\\kita\\Library\\mingw-w64\\bin;C:\\anaconda3\\envs\\kita\\Library\\usr\\bin;C:\\anaconda3\\envs\\kita\\Library\\bin;C:\\anaconda3\\envs\\kita\\Scripts;C:\\Program Files\\Java\\jdk-1.8\\bin;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\;C:\\Windows\\System32\\OpenSSH\\;C:\\anaconda3;C:\\anaconda3\\Library\\mingw-w64\\bin;C:\\anaconda3\\Library\\bin;C:\\anaconda3\\Scripts;C:\\Program Files\\Bandizip\\;C:\\Users\\Administrator\\AppData\\Local\\Microsoft\\WindowsApps;'

In [57]:
%pwd

'D:\\hjh_directory\\workspace\\jupyter\\python programming'

In [58]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\hjh_directory\workspace\jupyter\python programming 디렉터리

2023-11-02  오전 10:58    <DIR>          .
2023-11-02  오전 10:58    <DIR>          ..
2023-11-02  오전 09:34    <DIR>          .ipynb_checkpoints
2023-11-01  오후 03:56    <DIR>          __pycache__
2023-11-01  오후 02:23    <DIR>          ex
2023-11-01  오후 02:45                18 foo.txt
2023-11-01  오전 08:31                31 hm.txt
2023-11-02  오전 10:16             1,117 mydata.txt
2023-11-01  오전 10:29                86 mymodule.py
2023-11-01  오전 10:29            15,505 python_2_제어문_과제1030_한정현.ipynb
2023-11-01  오전 10:29            88,257 python_2_제어문_메모리부족FIX.ipynb
2023-11-02  오전 10:58           102,756 python_3_함수.ipynb
2023-11-01  오전 10:29            14,284 python_3_함수_과제1031_한정현.ipynb
2023-11-02  오전 10:08             8,273 python_3_함수_과제1101_한정현.ipynb
2023-11-01  오전 10:29            21,009 python_자료형_1_과제1027_한정현.ipynb
2023-11-01  오전 10:29             1,786 python_자료형_1_과제6_practice_1027_한정현.ipynb
2023-11-01  오전 10:29            98,091 python_자료형_1_한정현.ipynb
2023-11-01  오후 02:48               441 test1.txt
2023-11-01  오후 02:48               342 test2.txt
2023-11-02  오전 10:58                40 test3.jpg
2023-11-02  오전 10:53                40 test3.txt
2023-11-02  오전 10:08                21 wow.txt
2023-11-01  오전 10:29           329,254 연습장.ipynb
              18개 파일             681,351 바이트
               5개 디렉터리  473,596,096,512 바이트 남음

In [61]:
# 폴더변경
os.chdir("D:\hjh_directory\workspace\jupyter\python programming\ex")

In [62]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\hjh_directory\workspace\jupyter\python programming\ex 디렉터리

2023-11-01  오후 02:23    <DIR>          .
2023-11-01  오후 02:23    <DIR>          ..
               0개 파일                   0 바이트
               2개 디렉터리  473,596,092,416 바이트 남음

In [63]:
os.chdir("D:\hjh_directory\workspace\jupyter\python programming")

In [65]:
os.getcwd() # 현재 작업 경로 가져오기

'D:\\hjh_directory\\workspace\\jupyter\\python programming'

In [70]:
!dir

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\hjh_directory\workspace\jupyter\python programming 디렉터리

2023-11-02  오전 11:08    <DIR>          .
2023-11-02  오전 11:08    <DIR>          ..
2023-11-02  오전 09:34    <DIR>          .ipynb_checkpoints
2023-11-01  오후 02:23    <DIR>          ex
2023-11-01  오후 02:45                18 foo.txt
2023-11-01  오후 02:48               441 goooood_test1.txt
2023-11-01  오전 08:31                31 hm.txt
2023-11-02  오전 10:16             1,117 mydata.txt
2023-11-01  오전 10:29                86 mymodule.py
2023-11-01  오전 10:29            15,505 python_2_제어문_과제1030_한정현.ipynb
2023-11-01  오전 10:29            88,257 python_2_제어문_메모리부족FIX.ipynb
2023-11-02  오전 11:06           110,613 python_3_함수.ipynb
2023-11-01  오전 10:29            14,284 python_3_함수_과제1031_한정현.ipynb
2023-11-02  오전 10:08             8,273 python_3_함수_과제1101_한정현.ipynb
2023-11-01  오전 10:29            21,009 python_자료형_1_과제1027_한정현.ipynb
2023-11-01  오전 10:29             1,786 python_자료형_1_과제6_practice_1027_한정현.ipynb
2023-11-01  오전 10:29            98,091 python_자료형_1_한정현.ipynb
2023-11-01  오후 02:48               342 test2.txt
2023-11-02  오전 10:58                40 test3.jpg
2023-11-02  오전 10:53                40 test3.txt
2023-11-02  오전 10:08                21 wow.txt
2023-11-01  오후 03:56    <DIR>          __pycache__
2023-11-01  오전 10:29           329,254 연습장.ipynb
              18개 파일             689,208 바이트
               5개 디렉터리  473,596,088,320 바이트 남음

In [71]:
import os
os.rename('goooood_test1.txt','test1.txt')

In [72]:
# glob() 함수는 인자로 받은패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob # glob는 끌어다가 써야함
glob.glob('D:\\hjh_directory\\workspace\\jupyter\\python programming/*.txt') # .txt가 들어간것들은 다 나옴

['D:\\hjh_directory\\workspace\\jupyter\\python programming\\foo.txt',
 'D:\\hjh_directory\\workspace\\jupyter\\python programming\\hm.txt',
 'D:\\hjh_directory\\workspace\\jupyter\\python programming\\mydata.txt',
 'D:\\hjh_directory\\workspace\\jupyter\\python programming\\test1.txt',
 'D:\\hjh_directory\\workspace\\jupyter\\python programming\\test2.txt',
 'D:\\hjh_directory\\workspace\\jupyter\\python programming\\test3.txt',
 'D:\\hjh_directory\\workspace\\jupyter\\python programming\\wow.txt']

#### 과제3_1102 : 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(3가지 방법)

In [81]:
# 과제3_1102 솔루션
# 첫번째 방법 # del 를 사용
list = [0,1,2,3,4,5,6]
del list[2] # 두번째의 인덱스를 삭제
print(list)

# 두번째 방법  # clear() 를 사용
list = [0,1,2,3,4,5,6]
list.clear()
list.extend([0,1,3,4,5,6])
print(list)

# 세번째 방법 # remove() 를 사용
list = [0,1,2,3,4,5,6]
list.remove(2) # 요소 2를 삭제
print(list)

[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]

In [1]:
#1번째 방법
list1 = [0,1,2,3,4,5,6]
del list1[2]
print(list1)

#2번째 방법
list1 = [0,1,2,3,4,5,6]
list1.remove(2)
print(list1)

#3번째 방법
list1 = [0,1,2,3,4,5,6]
list1.pop(2)
print(list1)

[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]

#### 과제4_1102 :  내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.

In [82]:
# 과제4_1102 솔루션
list = [0,1,2,3,4,5,6]
list.clear()
print(list)

[]

In [ ]:
my_list = [0, 1, 2, 3, 4, 5, 6]
del my_list[:] # [:] 처음부터 끝까지
print(my_list)

#### 과제5_1102 :  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2]

In [17]:
# 과제5_1102 솔루션
# Q1. [1,2,3,4,5] -> [1,4,9,16,25]
yeah = [1,2,3,4,5]
good = map(lambda a : a * a, yeah)
print(list(good))

# Q2. [1,2,3,4,5] -> [1,2]
no = [1,2,3,4,5]
print(no[2:])
del(no[2:])
print(no)

[1, 4, 9, 16, 25]
[3, 4, 5]
[1, 2]

In [2]:
f = lambda x : x*x
args = [1,2,3,4,5]
ret = map(f,args)
print(list(ret))

[1, 4, 9, 16, 25]

In [5]:
f = lambda x : x**2
args = [1,2,3,4,5]
ret = map(f,args)
aa = list(ret)
print(aa)

[1, 4, 9, 16, 25]

In [15]:
ok = [1,2,3,4,5]
soso = [a**2 for a in ok] # **2 하면 제곱
print(soso)

[1, 4, 9, 16, 25]

##### 과제6_1102  [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [ ]:
# 과제6_1102 전유빈님 솔루션

In [ ]:
sample6 = [1,-3,2,0,-5,6]
# 내장 함수
ans6_1 = list(filter(lambda x: x > 0, sample6))
print(ans6_1)
# 사용자 함수
ans6_2 = [i for i in sample6 if i > 0] # for i in sample6 if i > 0 가 만족하면 앞에있는 i 에 뽑아줌 #간편한 for 문..
# 조건에 만족하는 것을 리스트 안에 담고 프린트하면 됨
print(ans6_2)

In [21]:
sample6 = [1,-3,2,0,-5,6]
ans6_2 = [i for i in sample6 if i > 0]
print(ans6_2)

[1, 2, 6]

In [7]:
# 내장함수
for i in list1:
    if i > 0:
        list2.append(i)
    else:
        
print(list2)

# 사용자 함수
result = filter(lambda x : x > 0, list2) 
print(list(result))

IndentationError: expected an indented block after 'else' statement on line 5 (2692450390.py, line 7)

In [20]:
# 사용자함수를 사용
def even(arr):
    result = []
    for i in arr:
        if i>0:
            result.append(i)
    return result
print(even([1,-3,2,0,-5,6]))
print(even([1,-3,2,0])) # 이런식으로 재활용 가능한것이 사용자함수의 장점이자 특징

[1, 2, 6]
[1, 2]

In [ ]:
# 과제7_1102 : 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [22]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
list4 = []
list5 = []
list6 = []
t1 = ('abc','def')

# 1번
for i in range(3):
    new = list1[i], list2[i]
    list4.insert(i, new)
    i += 1

print(f'{list1},{list2} → {list4}')

# 2번
for i in range(3):
    new1 = list1[i], list2[i], list3[i]
    list5.insert(i, new1)
    i += 1

print(f'{list1},{list2},{list3} → {list5}')

# 3번
trn1 = list(t1[0])
trn2 = list(t1[1])

for i in range(3):
    new2 = trn1[i], trn2[i]
    list6.insert(i, new2)
    i += 1

print(f'{t1} → {list6}')

[1, 2, 3],[4, 5, 6] → [(1, 4), (2, 5), (3, 6)]
[1, 2, 3],[4, 5, 6],[7, 8, 9] → [(1, 4, 7), (2, 5, 8), (3, 6, 9)]
('abc', 'def') → [('a', 'd'), ('b', 'e'), ('c', 'f')]

In [24]:
list5 = [1,2,3]
list6 = [4,5,6]
list7 = [7,8,9]
tuple8 = ('abc','def')
print([i for i in zip(list5, list6)])
print([i for i in zip(list5, list6, list7)])
print([i for i in zip(tuple8[0],tuple8[1])])

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
# 과제8_1102 : 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [25]:
# 과제8_1102 주용규님 솔루션
def cal_average(*args):
    return sum(args) / len(args)

print(cal_average(1,2,3))

2.0

In [34]:
# 과제8_1102 솔루션
def cal_avg(*args):
    print(f'합 : {eval(args)}')
    print(f"평균 : {eval(args)/len(mun.split('+')):0.2f}")
# cal_avg('1+2+3')
mun = input("평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분) : ")

평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분) : 1,2,3

In [36]:
# 과제8_1102 솔루션
def cal_avg(mun):
    print(f'합 : {eval(mun)}')
    print(f"평균 : {eval(mun)/len(mun.split('+')):0.2f}")
# cal_avg('1+2+3')
oo = input("평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분) : ")
cal_avg(oo)

평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분) : 1,2,3
합 : (1, 2, 3)

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [37]:
def str_average(str):
    mun_str = str.replace(',','+')
    print(eval(mun_str)/(mun_str.count('+')+1))
    
mun = input('평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ')
str_average(mun)

평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): 1,2,3
2.0

In [38]:
def cal_list_avg(avgList):
    y = avgList.split(',')
    x = [int(i) for i in y]
    return sum(x) / len(x)

ans = input('평균값을 구할 숫자(콤마로 구분하여 입력): ')
print(cal_list_avg(ans))

평균값을 구할 숫자(콤마로 구분하여 입력): 1,2,3
2.0

In [ ]:
# 과제9_1102 : 동일한 사용자 함수를 만들어서 1~100의 합과 200~300의 합을 구하세요.

In [ ]:
# 과제9_1102 솔루션

In [ ]:
def sum_func(a,b):
    res = 0
    if i in range(a,b+1) :

In [39]:
def myCal_sum(sInt, eInt):
    sum = 0
    
    for i in range(sInt, eInt+1):
        sum += i
    
    return print(f"{sInt}부터 {eInt}까지의 합은 {sum}입니다.")

myCal_sum(1, 100)
myCal_sum(200, 300)

1부터 100까지의 합은 5050입니다.
200부터 300까지의 합은 25250입니다.

In [40]:
def add(start, end):
    total = sum(range(start, end+1))
    return total

sum100 = add(0, 100)
sum200 = add(200, 300)

print(sum100, sum200)

5050 25250

In [41]:
def sum_all(a, b):
    return sum(range(a,b+1))

print(sum_all(1, 100))
print(sum_all(200, 300))

5050
25250

In [42]:
import numpy as np
np.arange(200,301)

array([200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300])

In [44]:
import numpy as np
def sum(*args):
    sum = 0
    for i in args:
        sum += i
    return sum
sum(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300)

25250

#### sort, sorted 모두 key, reverse 매개변수를 갖고 있다.
- reverse : 기본값은 reverse=False(오름차순), reverse=True를 매개변수로 입력하면 내림차순으로 정렬
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key 값을 기준으로 정렬되고 기본값은 오름차순

In [51]:
# strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a','ca','bar','aaaa','ababa']
strings.sort(key = lambda x : len(set(x)))
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [55]:
set('ababa') # 중복된것은 빼고 a 랑 b를 출력. 근데 오름차순, 그리고 중괄호. ''필요

TypeError: set expected at most 1 argument, got 2

In [52]:
# Q. 튜플 형태인 strings 를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a','ca','bar','aaaa','ababa']
s_list=list(strings)
s_list.sort(key=lambda x :len(set(x))) # 기본 정렬(오름차순)
print(s_list[::-1]) # 거꾸로 출력 [내림차순으로 나오게끔 정렬]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [57]:
# url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

x = url.split('/')
print(x)
x[2]

['http:', '', 'news.naver.com', 'main', 'read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601']

'news.naver.com'

In [ ]:
# 과제10_1102 : url에서 쿼리문을 추출하여 출력하세요.
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

출력은 2가지 형태
['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']
mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

In [1]:
# 과제10_1102 김신미님 솔루션
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

tmp1 = url.split('/')
tmp2 = tmp1[-1].split('?')
result = tmp2[-1].split('&')

print(result)
print("")

for i in result:
    print(i)

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

In [2]:
# 과제10_1102 서영우님 솔루션
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
url = url.split('?')
url = url[1].split('&')
dic = {}
for i in url:
    dic[i.split('=')[0]] = i.split('=')[1]
print(dic)

{'mode': 'LSD', 'mid': 'shm', 'sid1': '105', 'oid': '028', 'aid': '0002334601'}

In [60]:
# 문자열이 문자인지 검사
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3P0'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()
print(ret1)
print(ret2)
print(ret3) # 띄어쓰기가 있어서 False
print(ret4) # 숫자가 맨앞에 있어서 False

True
True
False
False

In [61]:
# 문자열이 숫자인지 검사
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()

print(ret1) # - 때문에 False
print(ret2) # 문자열때문에 False
print(ret3) # 숫자만 있어서 True

False
False
True

In [63]:
# 문자열이 문자 또는 숫자인지 검사 : 문자열이 영어, 한글 혹은 숫자로 되어있으면 참 리턴, 아니면 거짓 리턴
txt1 = '안녕하세요?'
txt2 = '1. Title= 제목을 넣으세요.'
txt3 = '3피오R2D2'

ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret3 = txt3.isalnum()
print(ret1)
print(ret2)
print(ret3)

False
False
True

In [67]:
txt = 'A lot of Things occur each day'
ret1 = txt.upper()
ret2 = txt.lower()
ret3 = txt.title()
ret4 = txt.capitalize() # 문자열의 첫번째 문자를 대문자, 나먼지는 소문자로 변환
print(ret1)
print(ret2)
print(ret3)
print(ret4)

A LOT OF THINGS OCCUR EACH DAY
a lot of things occur each day
A Lot Of Things Occur Each Day
A lot of things occur each day