In [1]:
# 과제8-1_1030
x = 1
sum = 0
while x <= 100 : 
    if x < 5 or x < 95 :
        sum += x
    x += 1
print(sum)

4465

In [2]:
num = 1
sum = 0
while num <= 100:
    if num < 5 or num > 95: 
        num += 1
        continue
    sum += num
    num += 1
print(sum)

4550

In [3]:
num = 0
sum = 0

while num < 100:
    num += 1
    
    if num < 5 or num > 95:
        continue
    else:
        sum += num
print(sum)

4550

In [ ]:
# 과제8_1030 솔루션 #원본
num = 1
sum = 0
while num <= 100 :
    if num >= 5 and num <= 95 :
        sum += num
    num += 1
print(sum)

In [15]:
# 과제8_1030 솔루션
num = 1
sum = 0
while num <= 100 :
    if num >= 5 and num <= 95 :
        sum += num
    num += 1
else :
    print(sum)

4550

In [ ]:
num = 1
sum = 0
while num <= 100 :
    if num >= 5 and num <= 95 :
        sum += num
    num += 1
print(sum)

In [25]:
# 과제8_1030 솔루션
num <= 100
num = 1
sum = 0
while 1 :
    if num >= 5 and num <= 95 :
        sum += num 
    num += 1
    if num >= 100 :
        break
print(sum)

4550

In [31]:
# 과제8_1030 솔루션
num = 1
sum = 0
while num <= 100 :
    if num >= 5 and num <= 95 :
        sum += num
    else :
        num += 1
print(sum)

KeyboardInterrupt:

In [28]:
# 과제8_1030 솔루션
num = 1
sum = 0
while num <= 100 :
    if num >= 5 and num <= 95 :
        sum += num
    num += 1
print(sum)

4550

In [34]:
num = 1
sum = 0
while 1 :
    if num >= 5 and num <= 95 :
        sum += num 
    if num >= 100 :
        break
    else :
        num += 1

print(sum)

4550

In [37]:
num = 1
sum = 0
while 1 :
    if num >= 5 and num <= 95 :
        sum += num
    if num >= 100 :
        break
    else :
        num += 1

print(sum)

4550

In [ ]:
num = 1
sum = 0
while num <= 100 :
    if num >= 5 and num <= 95 :
        sum += num
    if num 
    num += 1
print(sum)

In [41]:
# 어제 학습한 내용이예요.
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음
for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다.')
        break
else:
    print('루프가 정상적으로 완료되었습니다.')

3에서 루프를 중단합니다.

In [40]:
# 어제 학습한 내용이예요.
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음
for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다.')
else:
    print('루프가 정상적으로 완료되었습니다.')

3에서 루프를 중단합니다.
루프가 정상적으로 완료되었습니다.

In [42]:
#### 과제8_1030 : 1부터 100까지의 정수 중 5 에서 95 까지의 합을 구하세요.

sum = 0
for i in range(1,101) : 
    if i >= 5 and i <= 95 :
        sum += i
print(sum)

4550

In [44]:
# 과제 8 while 로 해보기

i = 1
sum = 0
while i <= 100 :
    if i >= 5 and i <= 95 :
        sum += i
    i += 1
print(sum)

4550

In [ ]:
##### 과제8-1_1031 : 1부터 100까지의 정수중 5부터 95까지의 합을 구하세요.
(x < 5 or x > 95) 을 사용

In [45]:
# for 문 사용
sum = 0
x = 1
for x in range(1,101):
    if x < 5 or x > 95 :
        sum += x
print(sum)

500

In [49]:
# while 문 사용

sum = 0
x = 1
while x <= 100 :
    if x < 5 or x > 95 :
        x += 1
        continue
    sum += x
    x += 1
print(sum)

4550

In [50]:
# for 문 사용

sum = 0
for x in range(1,101) :
    if x < 5 or x > 95 :
        continue
    sum += x
print(sum)

4550

In [ ]:
#### 과제9_1030 : while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요

In [52]:
def greeting() :
    print("안녕하세요~")
    print("Hi~")
greeting()

안녕하세요~
Hi~

In [66]:
def 인사(h) :
    return f'{h}'
print(인사("Hi"))

Hi

In [55]:
def multi(num) :
    print(num * 2)
    
multi(4)

8

In [56]:
def 함수2() :
    return 10

함수2()

10

In [57]:
def 함수2() :
    return 10

print( 함수2() )

10

In [58]:
def 수학연산(x) :
    return x + 2

결과 = 수학연산(4)

print(결과)

6

In [ ]:
def 수학연산(x) :
    print(x + 2)


결과 = 수학연산(4)
print(수학연산(4))
print(결과)

In [75]:
def 수학연산(x) :
    결과 = x + 2
    
x = 6
print(결과)
print(수학연산(x))

None
None

In [81]:
def 수학연산(x) :
    return x + 2
    
x = 4
print(수학연산(x))

6

In [85]:
def add(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

add(3,4)

3, 4의 합은 7입니다.

In [ ]:
#### [과제1_1030] num1 = 12345, num2 = 12.345679 을 아래와 같이 출력하세요.
12345
     12345
12.345679
          12.346

In [113]:
a =12345
b= 12.345679
print('%d' %(a)) # '%d 문자열도가능 ' %(변수)
print(f'{a:10d}')
print(f'{b}')
print(f'{b:17.04f}')

12345
     12345
12.345679
          12.3457

In [ ]:
#### 과제2_1030 : listdata = ['a', 'b', 'c']에서 조건문을 이용해서 아래와 같이 출력하세요


a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [117]:
listdata = ['a', b, 'c']
if 'a' in listdata : print("a가 listdata에 있습니다.")
if b in listdata : print("b가 listdata에 있습니다.")
if 'c' in listdata : print("c가 listdata에 있습니다.")

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [124]:
listdata2 = ['a', 'b', 'c'] # for문
for i in listdata2 :
    if i in listdata2:
        print(f'{i}가 listdata2에 있습니다.')

a가 listdata2에 있습니다.
b가 listdata2에 있습니다.
c가 listdata2에 있습니다.

In [126]:
listdata2 = ['a', 'b', 'c'] # for문
for m in listdata2 :
    if m in listdata2:
        print(f'{m}가 listdata2에 있습니다.')

a가 listdata2에 있습니다.
b가 listdata2에 있습니다.
c가 listdata2에 있습니다.

In [130]:
listdata2 = ['a','b','c']
for index in listdata2 :
    if index in listdata2 :
        print(f'{index}가 listdata2에 있습니다.')

a가 listdata2에 있습니다.
b가 listdata2에 있습니다.
c가 listdata2에 있습니다.

In [128]:
#### 과제3_1030 : 돈이 있으면 택시를 타고, 돈이 없으면 걸어 간다를 만족하는 조건문을 작성하세요

네

In [132]:
money = int(input("주머니에 있는 돈을 입력해 주세요 : "))
if money >= 5000 :
    print("택시를 탄다")
else : 
    print("걸어간다")

주머니에 있는 돈을 입력해 주세요 : 1233123
택시를 탄다

In [ ]:
#### 과제4_1030 : 조건부 표현식을 한줄의 조건문으로 작성하세요.
score = 70
if score >= 60:
    message = "success"
else: 
    message = "failure"
    
print(message)

In [139]:
score = 70
print("success") if score >= 60 else print("failure")

success

In [142]:
score = 70
print("success") if score >= 60 else print("failure")

success

In [ ]:
#### 과제5_1030 : "수입과 지출금액을 비교해서 수입이 많은면 저축 증가, 반대이면 빚이 증가" 프로그램 작성

In [147]:
money_input = int(input("수입을 입력해주세요 : "))
money_output = int(input("지출을 입력해주세요 : "))
if money_input == money_output :
    print("현상 유지")
elif money_input > money_output :
    print("수입 증가")
else : 
    print("부채 증가")

수입을 입력해주세요 : 123
지출을 입력해주세요 : 123
현상 유지

In [ ]:
#### 과제6_1030: 1~10 범위의 정수에서 1부터 5까지만 출력하세요.

In [149]:
# while 문
number=1
while True :
    if number <= 10 :
        print(number)
        number += 1
    if number > 5 :
        break

1
2
3
4
5

In [155]:
# for 문
for index in range(1,11) :
    if index <= 5 :
        print(index)

1
2
3
4
5

In [159]:
for i in range(1,11) :
    if i > 5 :
        break
    print(i, end=' ')

1 2 3 4 5

In [158]:
for i in range(1,11) :
    if i > 5 :
        break
print(i) # 들여쓰기 빼면 6출력

6

In [ ]:
#### 과제7_1030: numbers 리스트에서 15,20,25 를 출력하세요. (for문과 if 조건 사용 필수)
numbers= [5,15,6,20,7,25]

In [168]:
numbers= [5,15,6,20,7,25]
for i in numbers :
    print(list(numbers))

[5, 15, 6, 20, 7, 25]
[5, 15, 6, 20, 7, 25]
[5, 15, 6, 20, 7, 25]
[5, 15, 6, 20, 7, 25]
[5, 15, 6, 20, 7, 25]
[5, 15, 6, 20, 7, 25]

In [175]:
numbers= [5,15,6,20,7,25]
for i in numbers :
     if i > 10 :
        print(i)

15
20
25

In [176]:
numbers= [5,15,6,20,7,25]
for i in numbers :
    if i % 5 == 0 and i > 5 :
        print(i)

15
20
25

In [ ]:
#### 과제8_1030 : 1부터 100까지의 정수 중 5 에서 95 까지의 합을 구하세요.

In [178]:
num = 1
sum = 0
for i in range(1, 101) :
    if num >= 5 and num <= 95 :
        sum += num
    num += 1
print(sum)

4550

In [224]:
n = 1
sum = 0
while 1 :
    if n >= 5 and n <= 95 :
        sum += n
    n += 1
    if n > 100 :
        break
print(sum)

4550

In [216]:
for i in range(1,10) :
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
##### 과제8-1_1031 : 1부터 100까지의 정수중 5부터 95까지의 합을 구하세요.
(x < 5 or x > 95) 을 사용

In [225]:
x= 1
sum = 0
for i in range(1, 101):
    if x < 5 or x > 95 :
        x += 1
        continue
    sum += x
    x += 1
print(sum)

4550

In [239]:
x = 1
sum = 0
while 1 :
    if x > 100 :
        break
    if x < 5 or x >95 :
        x += 1
        continue
    sum += x
    x += 1
print(sum)

4550

In [240]:
x = 1
sum = 0
while 1 :
    x += 1
    if x > 100 :
        break
    if x < 5 or x >95 :
        x += 1
        continue
    sum += x
    
print(sum)

4545

In [246]:
sum1 = 0
for i in range(5, 96) :
    sum1 += i
    print(i,end=' ')
print(sum1)

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 4550

In [ ]:
#### 과제9_1030 : while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요

In [247]:
n = 1 
sum = 0
while 1 :
    n+=1
    if n > 1000 :
        break
    if n % 3 == 0 and n % 5 == 0 :
        sum += n
#     n+=1
print(sum)

33165

n = 1 
sum = 0
while 1 :
    if n > 1000 :
        break
    if n % 3 == 0 and n % 5 == 0 :
        sum += n #이곳1
    n += 1  #이곳2
print(sum)

위 프로그램은 내가 만든 파이썬으로한 간단한 hile문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요 프로그램이야
근데 하다가 의문점이 생겨서.
이곳1 줄의 소스코드와 이곳2줄의 소스코드가 서로 들여쓰기가 다른데
왜 다른지 알려줄수있을까?

ChatGPT
네, 질문에 대한 답변 드리겠습니다.

위 프로그램에서 이곳1과 이곳2의 들여쓰기가 다른 이유는 그 두 줄이 각기 다른 조건 및 구문에 속하기 때문입니다.

이곳1: sum += n

이 줄은 if n % 3 == 0 and n % 5 == 0: 조건문에 속하므로, 이 조건이 참일 때만 실행됩니다. 즉, n이 3과 5의 공배수일 때만 이 줄이 실행되어 sum에 n이 더해집니다.
이곳2: n += 1

이 줄은 while 루프의 메인 본문에 속합니다. 따라서 while 루프의 반복마다 매번 실행되며, n의 값을 1씩 증가시킵니다.
들여쓰기는 파이썬에서 매우 중요한 요소로, 코드의 블록 구조와 실행 흐름을 결정합니다. 이곳1의 코드는 if 조건문에 속하므로 그만큼 들여써져 있고, 이곳2의 코드는 while 루프에 바로 속하므로 if 조건문보다는 한 단계 덜 들여써져 있습니다.

In [255]:
#### 과제10_1030 : 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요. 
# 현재 시간 구하는 방법
import datetime
now=datetime.datetime.now()
print(now.hour)

21

In [257]:
import datetime
now=datetime.datetime.now()
print(now.hour)


if now.hour < 12 :
    print("오전")
if now.hour >= 12 :
    print("오후")

21
오후

In [263]:
from datetime import datetime
now=datetime.now
print(now.hour)

AttributeError: 'builtin_function_or_method' object has no attribute 'hour'

In [ ]:
#### 과제11_1030 : 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양띠

In [266]:
year = int(input("연도 입력 : "))
byear= year % 12
if byear == 0 :
    print("원숭이")
elif byear == 1:
    print("닭")

연도 입력 : 1
닭

In [7]:
a = ['원숭이', '닭', '개', '돼지', '쥐', '소', '범', '토끼', '용', '뱀', '말', '양띠']
s = int(input("태어난 해를 입력하세요 : "))
year= s % 12
print(f'{a[year]} 띠입니다.')

태어난 해를 입력하세요 : 2001
뱀 띠입니다.

In [8]:
애니멀 = ['원숭이', '닭', '개', '돼지', '쥐', '소', '범', '토끼', '용', '뱀', '말', '양']
해 = int(input("태어난 해 : "))
년 = 해 % 12
print(f'{애니멀[년]}띠입니다.')

태어난 해 : 2001
뱀띠입니다.

In [ ]:
# 과제12_1030 : 커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면
    거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [16]:
coffee = 5 #재고
while 1 :
    coin = int(input("동전이나 지폐를 넣어주세요. : "))
    if coin == 300 :
        print("300원으로 커피 1잔 나왔습니다. 맛있게 드세요.")
        coffee = coffee - 1
    elif coin > 300 :
        print("300원으로 커피 1잔 나왔습니다. 맛있게 드세요.")
        print(f"거스름돈이 나옵니다. 거스름돈 {coin-300}원을 받아가세요.")
        coffee = coffee - 1
    else : 
        print("돈이 부족하여 커피가 나오지 않았습니다.")
        print(f"돈 {coin}원을 받아가세요.")
    if coffee == 0 :
        print("모든 커피가 소진하여 마감합니다. 감사합니다.")
        break

동전이나 지폐를 넣어주세요. : 1000
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
거스름돈이 나옵니다. 거스름돈 700원을 받아가세요.
동전이나 지폐를 넣어주세요. : 300
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
동전이나 지폐를 넣어주세요. : 2000
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
거스름돈이 나옵니다. 거스름돈 1700원을 받아가세요.
동전이나 지폐를 넣어주세요. : 10
돈이 부족하여 커피가 나오지 않았습니다.
돈 10원을 받아가세요.
동전이나 지폐를 넣어주세요. : 3000
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
거스름돈이 나옵니다. 거스름돈 2700원을 받아가세요.
동전이나 지폐를 넣어주세요. : 10000
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
거스름돈이 나옵니다. 거스름돈 9700원을 받아가세요.
모든 커피가 소진하여 마감합니다. 감사합니다.

In [ ]:
# Q.1_1031 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는
# 다시 입력하라는 메시지를 출력하세요.

In [34]:
while 1 :
    x = int(input("자연수_1 입력 : "))
    y= int(input("자연수_2 입력 : "))
    if x % 2 == 0 and y % 2 == 0 :
        print(x * y)
    elif x % 2 == 1 and y % 2 == 1 :
        print(x + y)
    else :
        print("다시 입력해주세요")
    if x == 0 and y == 0 :
        break

자연수_1 입력 : 0
자연수_2 입력 : 0
0

In [36]:
# Q.1_1031 윤성민님 솔루션
while True:
    num1 = int(input("정수를 입력"))
    num2 = int(input("정수를 입력"))
    if num1 % 2 == 0 and num2 % 2 == 0:
        print(num1*num2)
    elif num1 % 2 == 1 and num2 % 2 == 1:
        print(num1+num2)
    else:
        print("다시 입력하세요")
    if num1 == 0 and num2 == 0:
        break

정수를 입력0
정수를 입력0
0

In [16]:
coffee = 5 #재고
while 1 :
    coin = int(input("동전이나 지폐를 넣어주세요. : "))
    if coin == 300 :
        print("300원으로 커피 1잔 나왔습니다. 맛있게 드세요.")
        coffee = coffee - 1
    elif coin > 300 :
        print("300원으로 커피 1잔 나왔습니다. 맛있게 드세요.")
        print(f"거스름돈이 나옵니다. 거스름돈 {coin-300}원을 받아가세요.")
        coffee = coffee - 1
    else : 
        print("돈이 부족하여 커피가 나오지 않았습니다.")
        print(f"돈 {coin}원을 받아가세요.")
    if coffee == 0 :
        print("모든 커피가 소진하여 마감합니다. 감사합니다.")
        break

동전이나 지폐를 넣어주세요. : 1000
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
거스름돈이 나옵니다. 거스름돈 700원을 받아가세요.
동전이나 지폐를 넣어주세요. : 300
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
동전이나 지폐를 넣어주세요. : 2000
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
거스름돈이 나옵니다. 거스름돈 1700원을 받아가세요.
동전이나 지폐를 넣어주세요. : 10
돈이 부족하여 커피가 나오지 않았습니다.
돈 10원을 받아가세요.
동전이나 지폐를 넣어주세요. : 3000
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
거스름돈이 나옵니다. 거스름돈 2700원을 받아가세요.
동전이나 지폐를 넣어주세요. : 10000
300원으로 커피 1잔 나왔습니다. 맛있게 드세요.
거스름돈이 나옵니다. 거스름돈 9700원을 받아가세요.
모든 커피가 소진하여 마감합니다. 감사합니다.

In [ ]:
#  과제1_1031 : 사용자가 입력한 게임 회수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 처리)

In [45]:
import random
a = int(input("횟수 입력 : "))
numbers_list = list(range(1,46))
for i in range(a) :
    yours = random.sample(numbers_list,6)
    print(yours)

횟수 입력 : 3
[45, 34, 5, 22, 11, 17]
[3, 12, 29, 6, 19, 4]
[13, 21, 39, 15, 8, 38]

In [61]:
import random
a = int(input("횟수 입력 : "))
n = list(range(1,46))
for i in range(a) :
    c = random.sample(n,6)
    print(c)

횟수 입력 : 4
[3, 20, 5, 33, 32, 2]
[12, 37, 9, 15, 41, 20]
[40, 4, 37, 1, 15, 28]
[40, 4, 19, 37, 43, 6]

In [60]:
import random
a = 1,2,3,4
random.sample(a,i)

[2, 3]

In [74]:
import random
a = int(input("횟수 입력 : "))
for i in range(a) :
    b = random.sample(range(1,46),6)
    b.sort()
    print(f'{i+1}번째 로또' ,b)

횟수 입력 : 100
1번째 로또 [2, 20, 24, 27, 28, 43]
2번째 로또 [7, 14, 26, 37, 39, 43]
3번째 로또 [9, 12, 19, 29, 35, 45]
4번째 로또 [3, 4, 12, 22, 27, 45]
5번째 로또 [5, 11, 14, 17, 20, 28]
6번째 로또 [3, 10, 11, 16, 17, 32]
7번째 로또 [1, 7, 21, 27, 29, 33]
8번째 로또 [2, 11, 15, 20, 32, 34]
9번째 로또 [1, 19, 23, 35, 36, 39]
10번째 로또 [21, 29, 30, 34, 38, 41]
11번째 로또 [6, 8, 24, 38, 43, 44]
12번째 로또 [1, 3, 7, 8, 19, 36]
13번째 로또 [2, 8, 26, 30, 34, 35]
14번째 로또 [1, 7, 26, 28, 34, 39]
15번째 로또 [4, 5, 10, 23, 29, 36]
16번째 로또 [1, 8, 16, 21, 27, 43]
17번째 로또 [2, 4, 6, 18, 30, 35]
18번째 로또 [2, 5, 21, 29, 44, 45]
19번째 로또 [16, 21, 27, 31, 36, 37]
20번째 로또 [8, 21, 31, 34, 39, 41]
21번째 로또 [4, 8, 17, 21, 26, 40]
22번째 로또 [8, 14, 20, 21, 28, 40]
23번째 로또 [7, 11, 21, 38, 39, 42]
24번째 로또 [5, 8, 16, 21, 34, 42]
25번째 로또 [1, 11, 18, 26, 36, 44]
26번째 로또 [3, 7, 10, 15, 16, 37]
27번째 로또 [4, 9, 20, 21, 26, 34]
28번째 로또 [6, 8, 9, 16, 24, 37]
29번째 로또 [13, 18, 27, 35, 37, 45]
30번째 로또 [8, 9, 29, 34, 39, 43]
31번째 로또 [5, 9, 34, 36, 38, 45]
32번째 로또 [7, 12, 17, 18, 29, 38]
33번째 로또 [10, 13, 23, 24, 30, 31]
34번째 로또 [1, 2, 6, 16, 24, 41]
35번째 로또 [10, 15, 16, 18, 19, 26]
36번째 로또 [14, 19, 21, 36, 43, 45]
37번째 로또 [8, 14, 15, 17, 31, 32]
38번째 로또 [10, 27, 32, 34, 39, 40]
39번째 로또 [2, 9, 28, 35, 36, 39]
40번째 로또 [11, 19, 34, 35, 41, 43]
41번째 로또 [4, 5, 7, 20, 25, 39]
42번째 로또 [1, 20, 25, 31, 41, 44]
43번째 로또 [14, 18, 25, 33, 41, 45]
44번째 로또 [4, 8, 14, 18, 33, 39]
45번째 로또 [3, 5, 15, 19, 30, 38]
46번째 로또 [4, 16, 17, 37, 42, 44]
47번째 로또 [7, 21, 22, 36, 38, 43]
48번째 로또 [4, 17, 18, 19, 40, 45]
49번째 로또 [4, 5, 13, 19, 26, 31]
50번째 로또 [5, 12, 15, 27, 35, 42]
51번째 로또 [9, 19, 21, 28, 34, 45]
52번째 로또 [8, 13, 26, 30, 40, 45]
53번째 로또 [3, 11, 25, 29, 35, 44]
54번째 로또 [1, 9, 13, 16, 23, 33]
55번째 로또 [4, 12, 21, 25, 33, 44]
56번째 로또 [7, 22, 24, 25, 28, 31]
57번째 로또 [4, 16, 19, 29, 30, 32]
58번째 로또 [6, 13, 19, 20, 36, 39]
59번째 로또 [4, 5, 9, 30, 33, 45]
60번째 로또 [7, 10, 12, 26, 27, 44]
61번째 로또 [1, 2, 11, 13, 23, 42]
62번째 로또 [19, 28, 29, 39, 41, 43]
63번째 로또 [5, 9, 18, 33, 38, 42]
64번째 로또 [1, 22, 24, 29, 40, 42]
65번째 로또 [17, 32, 36, 42, 44, 45]
66번째 로또 [21, 24, 28, 31, 33, 38]
67번째 로또 [1, 6, 25, 31, 32, 41]
68번째 로또 [1, 3, 9, 10, 40, 41]
69번째 로또 [4, 14, 21, 27, 43, 44]
70번째 로또 [4, 5, 20, 31, 42, 43]
71번째 로또 [5, 14, 25, 32, 35, 39]
72번째 로또 [10, 22, 24, 29, 33, 40]
73번째 로또 [8, 10, 15, 24, 30, 35]
74번째 로또 [1, 2, 9, 11, 25, 37]
75번째 로또 [2, 8, 18, 26, 37, 41]
76번째 로또 [10, 16, 26, 31, 32, 35]
77번째 로또 [3, 10, 18, 31, 32, 33]
78번째 로또 [4, 24, 31, 33, 43, 44]
79번째 로또 [13, 14, 17, 38, 41, 44]
80번째 로또 [9, 12, 16, 26, 36, 38]
81번째 로또 [4, 13, 28, 29, 33, 43]
82번째 로또 [1, 3, 5, 13, 32, 36]
83번째 로또 [7, 9, 21, 27, 29, 36]
84번째 로또 [9, 14, 31, 36, 38, 43]
85번째 로또 [9, 12, 15, 26, 33, 38]
86번째 로또 [13, 26, 27, 40, 41, 45]
87번째 로또 [16, 19, 21, 25, 30, 31]
88번째 로또 [3, 23, 28, 33, 34, 44]
89번째 로또 [4, 8, 21, 23, 34, 40]
90번째 로또 [3, 22, 23, 25, 26, 44]
91번째 로또 [24, 29, 31, 36, 37, 40]
92번째 로또 [8, 12, 23, 24, 26, 32]
93번째 로또 [8, 18, 21, 28, 29, 41]
94번째 로또 [4, 13, 15, 22, 29, 40]
95번째 로또 [1, 5, 10, 24, 32, 34]
96번째 로또 [2, 4, 18, 23, 26, 39]
97번째 로또 [6, 8, 22, 23, 27, 41]
98번째 로또 [4, 12, 27, 29, 36, 43]
99번째 로또 [2, 4, 10, 14, 21, 28]
100번째 로또 [1, 18, 26, 29, 31, 44]

In [65]:
# pop 함수
fruits = ["apple", "banna", "cherry", "data"]

# 인덱스 2의 요소 (cherry)를 제거하고 반환
removed_fruit = fruits.pop(2)
print(removed_fruit)
print(fruits)

# 리스트의 마지막 요소 (data)를 제거하고 반환
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banna', 'data']
data
['apple', 'banna']

In [66]:
p = ['abc', 'bca', 'cab']
rp = p.pop(0)
print(rp)
print(p)

abc
['bca', 'cab']

In [68]:
p = ['abc', 'bca', 'cab']
ap = p.pop()

print(ap)
print(p)

cab
['abc', 'bca']

In [ ]:
# 과제1-1_1031 : sample 을 사용하지않고 중복 처리를 하세요.

In [71]:
from random import shuffle

c = int(input("횟수 입력 : "))
for i in range(c) :
    lt = for i in range(1,46)
    random.shuffle(lt,6)
    lt.pop()

횟수 입력 : 13

In [ ]:
#### 과제2_1031 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램 
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [94]:
from datetime import datetime
today = datetime.now()
print(today)
month = today.month
print(month)

2023-11-01 01:05:52.660154
11

In [98]:
from datetime import datetime
a = datetime.now().month
print(a)

11

In [102]:
from datetime import datetime
spring = [3,4,5]
summer = [6,7,8]
autumn = [9,10,11]
winter = [12,1,2]

month = datetime.now().month
if month in spring : 
    print("봄입니다.")
if month in autumn :
    print("가을")

가을

In [ ]:
#### 과제3_1031 : 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.
1*99, 2*98 ...99*1

In [117]:
n = 1
m = 0
while 1 :
    n += 1
    if n >= 100 :
        break
    if m >= n*(100-n) :
        continue
    else : 
        m = n*(100-n)   
print(m)

2500

In [118]:
m = 0
for i in range(1, 100):
    if m >= i*(100-i) :
        continue
    m = i*(100-i)
print(m)

2500

In [ ]:
#### 과제4_1031 [    ]을 채워서 아래의 출력과 같이 출력하세요.
-출력 :
-numbers = [1,2,3,4,5,6,7,8,9]
-output = [[], [], []]

- [[1,4,7],[2,5,8],[3,6,9]]

In [165]:
numbers = [1,2,3,4,5,6,7,8,9]
for i in range(3) :
    output = list(map(int,numbers[:3]))
    print(output)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [150]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(str, a))
a

['1.2', '2.5', '3.7', '4.6']

In [ ]:
#### 과제5_1031 컴퓨터가 랜덤하게 생성하는 숫자 맞추기 게임 프로그램을 작성하세요

In [177]:
# 과제5_1031 솔루션

import random
number = random.randint(1,20)

while True :
    ans = int(input("1부터 20까지의 숫자중 하나를 입력해주세요. : "))
    if ans == number :
        print("정답입니다")
        break
    elif ans > number :
        print("정답은 해당 수 보다 더 작은 수 입니다..")
    else :
        print("정답은 해당 수 보다 더 큰 수 입니다.")

1부터 20까지의 숫자중 하나를 입력해주세요. : 10
정답은 해당 수 보다 더 작은 수 입니다..
1부터 20까지의 숫자중 하나를 입력해주세요. : 5
정답입니다

In [ ]:
#### 과제6_1031 Player가 3승할 때까지 계속 진행되는 가위바위보 게임 프로그램을 작성하세요.
- 게임을 Player와 컴퓨터가 진행

In [187]:
# 과제6_1031 솔루션
import random
point = 0
while True :
    if point == 3 :
        print("3승을 하여 게임이 종료되었습니다...")
        break
    computer = random.choice(['가위','바위','보'])
    me = str(input("가위, 바위, 보 중에서 하나를 입력하세요. : "))
    if me == computer :
        print("무승부")
        print(point)
    elif (me == '가위' and computer == '보') or (me == '보' and computer == '바위') or (me == '바위' and computer == '가위') :
        print("승리")
        point += 1
        print(point)
    else : 
        print("패배")
        print(point)

가위, 바위, 보 중에서 하나를 입력하세요. : 보
승리
1
가위, 바위, 보 중에서 하나를 입력하세요. : 보
무승부
1
가위, 바위, 보 중에서 하나를 입력하세요. : 보
무승부
1
가위, 바위, 보 중에서 하나를 입력하세요. : 보
승리
2
가위, 바위, 보 중에서 하나를 입력하세요. : 보
무승부
2
가위, 바위, 보 중에서 하나를 입력하세요. : 보
승리
3
3승을 하여 게임이 종료되었습니다...

In [17]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [12]:
import math
print(math.pi)
print(math.log(2))
print(math.cos(0.1))

3.141592653589793
0.6931471805599453
0.9950041652780258

#### Q1_1101. 1~10까지 가변적으로 연산을 할 수 있는 사용자 함수를 작성(매개변수가 가변적)

In [ ]:
# Q1_1101 주용규님 솔루션
def all_add(*args):
    result = 0
    for i in args:
        result += i
    print(result)

all_add(4,22,59)
all_add(4,22,50,65,75)
all_add(1,2,3)

In [28]:
def func1(*args) :
    re = 1
    for i in args :
        re *= i
    print(re)
    
func1(1,10,100)

1000

In [ ]:
#### Q1_1101. 1~10까지 가변적으로 연산을 할 수 있는 사용자 함수를 작성(매개변수가 가변적)

In [30]:
def f1(*args):
    fu = 1
    for n in args:
        fu *= n
    print(fu)
f1(2,3,4)

24

In [ ]:
#### Q2_1101. **args를 이용하여 아래와 같이 출력할 수 있는 사용자 함수 func2를 작성하세요
- 출력 :
- Width : 100
- Height: 200
- Other arguments: {'color' : 'red', 'thickness':5}

In [42]:
def func2(wid,hei,**kwargs) :
    print(f"Width : {wid}")
    print(f"Height : {hei}")
    print(f"Other arguments: {kwargs}")
    
func2(100,200,color='red', thickness=5)

Width : 100
Height : 200
Other arguments: {'color': 'red', 'thickness': 5}

In [ ]:
#### 과제1_1101 : 사용자 함수를 아래와 같이 사용할 수 있는 func3를 작성하세요.
func3(100, 200)  
출력: Width: 100, Height: 200, Color: blue, Thickness: 1

func3(100, 200, color='green', thickness=10)  
출력: Width: 100, Height: 200, Color: green, Thickness: 10

In [ ]:
Color="blue", Thickness=1

In [4]:
def func3(wid,hei,**kwargs= Color="blue", Thickness=1):
    print(f"Width : {wid}")
    print(f"Height : {hei}")
    print(f"Other arguments: {kwargs}")
func3(100,200)

SyntaxError: invalid syntax (3854713088.py, line 1)

In [1]:
def func3(wid,hei,**kwargs):
    print(f"Width : {wid}")
    print(f"Height : {hei}")
    print(f"Other arguments: {kwargs}")

func3(100,200,Color="blue", Thickness=1)
func3(100,200)

Width : 100
Height : 200
Other arguments: {'Color': 'blue', 'Thickness': 1}
Width : 100
Height : 200
Other arguments: {}