#### 과제1_1102 : 실행 가능한 숫자를 문자열('5+5') 입력으로 받아 문자열을 실행한 결과값을 출력하세요.

In [ ]:
# 과제1_1102 솔루션
print(eval(input('5+5 연산을 입력하세요.: ')))

#### 과제2_1102 : enumerate와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력을 하세요.(인덱스와 내용을 믹스하여)

In [1]:
# 과제2_1102 솔루션
score_list = [50,60,70,80,90]

for i,score in enumerate(score_list) :
    print(f"{i+1}번 학생은, {score}점입니다.")

1번 학생은, 50점입니다.
2번 학생은, 60점입니다.
3번 학생은, 70점입니다.
4번 학생은, 80점입니다.
5번 학생은, 90점입니다.

#### 과제3_1102 : 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(3가지 방법)

In [ ]:
# 과제3_1102 솔루션
# 1
list = [0,1,2,3,4,5,6]
del list[2]
print(list)

# 2
list = [0,1,2,3,4,5,6]
list.remove(list[2])
print(list)

# 3
list =[0,1,2,3,4,5,6]
list.pop(list[2])
print(list)

#### 과제4_1102 :  내장함수를 이용해서 list1 = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.

In [6]:
# 과제4_1102 솔루션
# del 사용
list1 = [0,1,2,3,4,5,6]
del list1[:]
print(list1)

# clear() 사용
list1 = [0,1,2,3,4,5,6]
list1.clear()
print(list1)

[]
[]

#### 과제5_1102 :  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
<!-- [1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2] -->

In [8]:
# 과제5_1102 솔루션
# [1,2,3,4,5] -> [1,4,9,16,25]
list1 = [1,2,3,4,5]
func1 = map(lambda x : x**2,list1)
print(list(func1))

# [1,2,3,4,5] -> [1,2]
list1=[1,2,3,4,5]
newlist= list1[:2]
print(newlist)
# del 사용
list1 = [1,2,3,4,5]
del(list1[2:])
print(list1)

[1, 4, 9, 16, 25]
[1, 2]
[1, 2]

##### 과제6_1102  [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [9]:
# 과제6_1102 솔루션
# 내장함수 사용
list6 = [1,-3,2,0,-5,6]
ans6_1 = [a for a in list6 if a > 0]
print(ans6_1)

# 사용자함수 사용
def func1(p):
    r = []
    for i in p :
        if i > 0 :
            r.append(i)
    return r
print(func1([1,-3,2,0,-5,6]))

[1, 2, 6]
[1, 2, 6]

#### 과제7_1102 : 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
<!-- [1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')] -->

In [ ]:
# 과제7_1102 솔루션

#### 과제8_1102 : 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [ ]:
# 과제8_1102 솔루션

#### 과제9_1102 : 동일한 사용자 함수를 만들어서 1~100의 합과 200~300의 합을 구하세요.

In [ ]:
# 과제9_1102 솔루션

#### 과제10_1102 : url에서 쿼리문을 추출하여 출력하세요.
<!-- url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

출력은 2가지 형태
['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']
mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601 -->

In [ ]:
# 과제10_1102 솔루션

#### 과제11_1102 : 영어 이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
<!-- (단 중간에 한칸씩 띄어주어야 함 ex)kim dong wan -->
<!-- 이름을 영어로 입력하세요.kim dong wan -->
<!-- 당신의 이름을 바꾸면 Kim Dong Wan 입니다. -->

In [ ]:
# 과제11_1102 솔루션

#### 과제12_1102 : 문자 코드값 구하기(ord)
<!-- 문자를 1개 입력하세요: a
문자: a, 코드값: 97 -->

In [19]:
# 과제12_1102 솔루션
a = int(input("문자를 코드값 입력 : "))
b = chr(a)
print("문자 : %s, 코드값 : %d" %(b,a))

문자를 코드값 입력 : 48885
문자 : 뻵, 코드값 : 48885

#### 과제13_1102 : numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
<!-- numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4] -->

In [ ]:
# 과제13_1102 솔루션

#### 과제14_1102 :코딩을 한줄로 작성해서 동일한 결과를 출력하세요
<!-- list = []
for i in range(0,20,2):
    list.append(i*i)
print(list) -->

In [21]:
# 과제14_1102 솔루션
list = []
list = i for i in range(0,20,2)
print(new_list)

SyntaxError: invalid syntax (3790103174.py, line 3)

#### 과제15_1102 : 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [ ]:
# 과제15_1102 솔루션

#### 과제16_1102 : list a의 모든 원소를 실수형으로 바꾸어 출력하세요
<!-- a = [1,2,3,4,5] -->

In [23]:
# 과제16_1102 솔루션
a = [1,2,3,4,5]

TypeError: float() argument must be a string or a real number, not 'list'